<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Introducing Neutrogena. Get 10% off.</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="500" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/neutrogena_emailer/neutrogena-emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="250"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=neutrogena10"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="181" align="right" style="font-size:12px; font-weight:bold; color:#333333">Like us:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>
        <td width="22"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
    </table></td>
  </tr>
  
  
  
  
  
  <tr>
    <td><table align="center" width="500" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #d1d1d1">
      <tr>
        <td><a href="http://www.healthkart.com/brand/beauty/neutrogena?utm_source=enewsletter&utm_medium=email&utm_campaign=neutrogena10"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/product-pic.jpg" alt="Offer" border="0"/></a></td>
      </tr>
      <tr>
        <td><table width="500" border="0" cellspacing="0" cellpadding="0"  style="font-size:12px; color:#333333">
          <tr>
            <td width="20">&nbsp;</td>
            <td><strong>Greetings from Healthkart.com. Hope you've had a great experience shopping with us.</strong></td>
            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="10px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td>We've introduced a limited period discount for those who are addicted to healthy skin- Neutrogena @ 10% off! Neutrogena is #1 Dermatologist Recommended skincare brand. Healthkart offers a wide range of Neutrogena's skin care products for oily skin, dry skin, sun protection, fairness solution and more!</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="10 px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td>Browse around and find something unique for your skin.</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="20px"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td><strong>Neutrogena's Bestsellers-</strong></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="10"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="460" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="140"><a href="http://www.healthkart.com/product/neutrogena-light-night-cream/BTY031?utm_source=enewsletter&utm_medium=email&utm_campaign=neutrogena10"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/965_m.jpg" width="140" height="140" border="0" /></a></td>
    <td rowspan="2" width="20">&nbsp;</td>
    <td width="140"><a href="http://www.healthkart.com/product/neutrogena-fine-fairness-lotion-spf-30/BTY029?utm_source=enewsletter&utm_medium=email&utm_campaign=neutrogena10"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/1012_m.jpg" width="140" height="140" border="0" /></a></td>
    <td rowspan="2" width="20">&nbsp;</td>
    <td width="140"><a href="http://www.healthkart.com/product/neutrogena-ultra-sheer-body-mist-sunblock-spf-30/BTY050?utm_source=enewsletter&utm_medium=email&utm_campaign=neutrogena10"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/1009_m.jpg" width="140" height="140" border="0" /></a></td>
  </tr>
  <tr>
    <td valign="top"><strong>Light Night Cream</strong></td>
    <td><strong>Fine Fairness Lotion <br />
      SPF 30</strong></td>
    <td><strong>Ultra Sheer Body Mist Sunblock SPF 30 </strong></td>
  </tr>
</table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#363636" height="70" align="center" ><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
              <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4226016</span></td>
      </tr>
    </table></td>
  </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />
      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
  
  
  

</table>
</body>
</html>
