<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Parenting has never been this easy</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/parenting_march/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="227"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0" /></a></td>
        <td width="18" style="border-left: solid 1px #999999"></td>
        <td width="390" align="left" style="font-size:13px; font-weight:bold; color:#666666"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#666666; text-decoration:none">India's premier e-health store!</a></td>
        <td width="39">&nbsp;</td>

        <td width="26">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5"><a href="http://www.healthkart.com/parenting?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/main_banner.jpg" height="246" width="700" alt="Parenting has never been this easy!" border="0" /></a></td>
      </tr>
 
      
      <tr>
        <td colspan="5" height="15"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
     <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Preschool Care</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/smash-case-bottle-3d-butterfly/BAB1510?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img01_a.jpg" alt="SMASH Case &amp; Bottle 3D Butterfly" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/smash-case-bottle-3d-butterfly/BAB1510?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; SMASH Case & Bottle 3D<br />
 &nbsp; Butterfly</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">School times are fun times now. Join your child's happiness with the best school gear!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/smash-case-bottle-3d-butterfly/BAB1510?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/lion-star-water-bottle/BAB1170?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img01_b.jpg" alt="Lion Star Water Bottle" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/lion-star-water-bottle/BAB1170?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Lion Star Water Bottle</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Drink to happiness. Make drinking water an interesting thing for your little angels.</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/lion-star-water-bottle/BAB1170?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/smash-rubbish-free-l-box-clear-nfm/BAB1516?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img01_c.jpg" alt="SMASH Rubbish Free L/Box Clear NFM" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/smash-rubbish-free-l-box-clear-nfm/BAB1516?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; SMASH Rubbish Free L/Box<br />
 &nbsp; Clear NFM</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Bring back the fun in meal times at school. Now no more fussy eaters. Leftovers are passe!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/smash-rubbish-free-l-box-clear-nfm/BAB1516?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="15"></td>
    </tr>
    
    <tr>
     <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Toddler Care</td>
    </tr>
    
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tolly-joy-mosquito-net/BAB1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img02_a.jpg" alt="Tolly Joy Mosquito Net" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tolly-joy-mosquito-net/BAB1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Tolly Joy Mosquito Net</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Watch your baby snooze with comfort. as this adorable net keeps the bad bugs away!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tolly-joy-mosquito-net/BAB1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/philips-avent-toddler-meal-time-set/BAB409?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img02_b.jpg" alt="Philips AVENT Toddler Meal Time Set " width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/philips-avent-toddler-meal-time-set/BAB409?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Philips AVENT Toddler Meal<br />
 &nbsp; Time Set </a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Meal times are no more unhappy times for your little toddler. Excited babies all ready!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/philips-avent-toddler-meal-time-set/BAB409?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/mee-mee-bottle-warmer/BAB562?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img02_c.jpg" alt="Mee Mee Bottle Warmer" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/mee-mee-bottle-warmer/BAB562?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Mee Mee Bottle Warmer</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Now travel easily with your little one. He will thank you for the warm milk you carried all the way!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/mee-mee-bottle-warmer/BAB562?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Baby Health & Safety</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/chicco-digi-paediatric-thermometer-express/BAB143?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img03_a.jpg" alt="Chicco Digi Paediatric Thermometer Express" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="30" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/chicco-digi-paediatric-thermometer-express/BAB143?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Chicco Digi Paediatric<br />
 &nbsp; Thermometer Express</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Measure your little one's temperature more easily. No more discomfort in child's health.</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/chicco-digi-paediatric-thermometer-express/BAB143?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/mee-mee-baby-knee-pad/BAB895?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img03_b.jpg" alt="Mee Mee Baby Knee Pad" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="30" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/mee-mee-baby-knee-pad/BAB895?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Mee Mee Baby Knee Pad</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Crawling is no more painful for little darlings. Growing time is now more comfortable!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/mee-mee-baby-knee-pad/BAB895?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/nuby-medical-kit/BAB397?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img03_c.jpg" alt="Nuby Medical Kit" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="30" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/nuby-medical-kit/BAB397?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Nuby Medical Kit</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Medical aid now in a convenient pack for your precious ones. Still running to the doctor?</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/nuby-medical-kit/BAB397?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
   <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Pre and Post Pregnancy</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/hicks-pregnancy-card-gold-easy-check-hc-06/PP056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img04_a.jpg" alt="Hicks Pregnancy Card Gold-Easy Check (HC-06) " width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/hicks-pregnancy-card-gold-easy-check-hc-06/PP056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Hicks Pregnancy Card<br />
 &nbsp; Gold-Easy Check (HC-06) </a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Confused about your pregnancy? One simple test is all you need. Convenience and assured results!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/hicks-pregnancy-card-gold-easy-check-hc-06/PP056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/farlin-effort-saving-manual-breast-pump/BAB046?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img04_b.jpg" alt="Farlin Effort-Saving Manual Breast Pump " width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/farlin-effort-saving-manual-breast-pump/BAB046?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Farlin Effort-Saving Manual<br />
 &nbsp; Breast Pump </a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Mother's love and milk... <br />
                Now easier to compress and feed for your babies.</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/farlin-effort-saving-manual-breast-pump/BAB046?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/kalencom-red-corduroy-laminated-bags/BAB1522?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/img04_c.jpg" alt="Kalencom Red Corduroy Laminated bags" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/kalencom-red-corduroy-laminated-bags/BAB1522?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636; text-decoration:none;"> &nbsp; Kalencom Red Corduroy<br />
 &nbsp; Laminated bags</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Trendy moms can now flaunt their motherhood. Easy to carry and smart to look.</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/kalencom-red-corduroy-laminated-bags/BAB1522?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    

</table></td>
  </tr>
  <tr>
    <td  bgcolor="#b8b8b8" style="border-top: solid #606060 2px"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march"><img src="http://img.healthkart.com/email/parenting_march/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-05-parenting_march" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/parenting_march/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/parenting_march/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> *T&C apply. If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
