<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Bathe for health and beauty, not just freshness</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#e1f0f7; background-image:url(http://img.healthkart.com/email/beauty_june/images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/beauty_june/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/header.png" alt="HealthKart.com   | the one stop shop for health, fitness and beauty" width="700" height="81" border="0" /></a></td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF"><a href="http://www.healthkart.com/beauty/bath-body?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/main_banner.jpg" alt="Bathe for health and beauty, not just freshness" width="700" height="250" border="0" /></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td bgcolor="#096aab" width="50%" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;">SOAPS</td>
        <td bgcolor="#096aab" style="border-left:1px solid #FFFFFF; font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;" width="50%" >LIQUID BODY WASHES</td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; color:#555555; text-align:justify; line-height:1.5em;"><p><strong>Who uses them?</strong><br />
          It all depends on your skin type. If your skin is dry, look for ingredients such as shea butter, cocoa butter, almond oil, jojoba oil; if your skin is oily then look for greet tea or aloe vera extract in your soap. 
          </p>
          <p><strong>Why do we use soaps?</strong><br />
            Why are we even answering this? You got to be clean and hygienic.            </p>
          <p><strong>What are its constituents?
            </strong><br />
            Soaps consist of synthetic detergents which can clean your skin without causing excessive dryness. These agents are present in beauty bars and are hypoallergenic in nature. Presence of lesser acids help decrease skin irritation as it removes dirt, oil and bacteria. Avoid very hot water by all means.</p></td>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; border-left:1px solid #096aab; color:#555555; text-align:justify; line-height:1.5em;"><p><strong>Who uses them?</strong>          <br />
          People with normal to dry skin take the aid of liquid body washes. 
          </p>
          <p><strong>Why do we use liquid body wash?
            </strong><br />
            Whatever type of skin you have, some cleansing ingredients just aren't necessary. Liquid body washes don’t strip the body of essential oils &amp; retain moisture. These are mild &amp; appropriate for everyday use.            </p>
          <p><strong>What are its constituents?
            </strong><br />
            Body washes are combination of synthetic and natural ingredients. Various natural ingredients that are commonly used are glycerin, sunflower seed oil, olive oil, cocoa butter.</p>
          <p> <strong>What does it do?</strong>            <br />
            Keeps your skin hydrated and is gentle. It is also less likely to leave a soapy residue on skin.</p></td>
      </tr>
            <tr>
        <td height="5px" colspan="2" bgcolor="#096aab"></td>
        </tr>
            <tr>
              <td colspan="2" height="10px"></td>
            </tr>
            <tr>
        <td colspan="2"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="160" bgcolor="#FFFFFF" ><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/pien-spa-organic-milk-beauty-bar/PIENSPA3?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img01_a.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/pien-spa-organic-milk-beauty-bar/PIENSPA3?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Pien Spa Organic Cow Milk Beauty Bar</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/soulflower-100-vegetarian-soap-strawberry-green-tea/SLFLR19?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img01_b.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/soulflower-100-vegetarian-soap-strawberry-green-tea/SLFLR19?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Soulflower Strawberry Green Tea Soap </a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/h2o-sea-moisturizing-replenishing-body-wash/H2O021?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img01_c.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/h2o-sea-moisturizing-replenishing-body-wash/H2O021?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">H2O Sea Moisturizing Body Wash </a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/living-proof-cell-renu-shower-scrub/LIVPRF06?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img01_d.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/living-proof-cell-renu-shower-scrub/LIVPRF06?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Living Proof Cell Renu Shower Scrub</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style=" border-top:1px dashed #666666">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td bgcolor="#096aab" width="50%" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;">BODY BALM / BUTTER</td>
        <td bgcolor="#096aab" style="border-left:1px solid #FFFFFF; font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;" width="50%" >BODY OIL</td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; color:#555555; text-align:justify; line-height:1.5em;"><p><strong>Who uses them?
          </strong><br />
          What is the look you covet to get? It is also important to note the texture preference and the level of dehydration. 
          </p>
          <p><strong>What are the constituents?</strong>            <br />
            Generally body balm/butter is combined with water-soluble actives and water therefore considered as emulsions. Often shea butter is added as a main active ingredient. It’s enriched with waterproof properties and is easy to apply. Shea butter contains minimal but natural sun filtering properties, and removes stretch marks effectively.            </p>
          <p><strong>How does it work?
            </strong><br />
            The nature of mixture is unstable and thus lotion & creams are needed to keep the product homogeneous. They provide great emollient properties for dry skin and are  conveniently absorbed by the skin. The fast penetration helps the rough areas and the shiny look on the skin disappears quickly after application.</p>
          <p> <strong>How does it help?
            </strong><br />
            They mostly contain number of beneficial ingredients such as aloe vera, vitamin D, E, shea butter and keratin. These ingredients replenish the skin, rescale the lost moisture, repair damaged skin and alleviate various skin conditions.</p></td>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; border-left:1px solid #096aab; color:#555555;  text-align:justify; line-height:1.5em; "><p><strong>Who uses them?
          </strong><br />
          People going for a specific look use body oil. If you love that glow on your skin, then it is definitely your choice.
          </p>
          <p><strong>What are the constituents?</strong>            <br />
            Body oil contains grape seed extracts, jojoba oil or coconut oil, which are excellent nourishing ingredients.            </p>
          <p><strong>What do we recommend?
            </strong><br />
            Virgin oil with its antioxidant properties is  good for fighting free-radicals, such as smoke and pollution, which damage and dry the skin. Skin  routinely harmed by free radicals is prone to permanent damage of connective tissues that give skin its tautness. When the tissues are harmed, skin begins to sag and wrinkle.            </p>
          <p><strong>How does it work?</strong><br />
            It prevents evaporation of water from skin by forming a natural lipid barrier. Coveting for golden legs? Use body oil. Some people think applying oil closes pores but most natural oils are easily absorbed and are non-greasy in nature. They also have low potential to clog pores, which make them ideal for use.</p></td>
      </tr>
            <tr>
        <td height="5px" colspan="2" bgcolor="#096aab"></td>
        </tr>
            <tr>
              <td colspan="2" height="10px"></td>
            </tr>
            <tr>
        <td colspan="2"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="160" bgcolor="#FFFFFF" ><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/kaya-intense-hydration-body-lotion/KAYA16?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img02_a.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/kaya-intense-hydration-body-lotion/KAYA16?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Kaya Intense Hydration Body Lotion</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/aaranyaa-body-lotion-with-shea-butter/VNCP24?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img02_b.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/aaranyaa-body-lotion-with-shea-butter/VNCP24?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Aaranyaa Body Lotion with Shea Butter</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/aloe-veda-after-bath-oil/ALVDA13?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img02_c.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/aloe-veda-after-bath-oil/ALVDA13?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Aloe Veda After <br />
                  Bath Oil </a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/omved-body-bath-oil/OMVED17?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img02_d.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/omved-body-bath-oil/OMVED17?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Omved Body & <br />
                  Bath Oil </a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td style=" border-top:1px dashed #666666">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr >
        <td bgcolor="#096aab" width="50%" style="font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;">SHAMPOO</td>
        <td bgcolor="#096aab" style="border-left:1px solid #FFFFFF; font-size:16px; color:#FFFFFF; font-weight:bold; padding:5px 10px;" width="50%" >CONDITIONER</td>
      </tr>
      <tr>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; color:#555555; text-align:justify; line-height:1.5em;"><p><strong>Why to use?
          </strong><br />
          Used to clean hair by removing dirt, excess hair oil and sebum. 
          </p>
          <p><strong>What are they?
            </strong><br />
            Shampoos are quite similar to ordinary soaps just that cleansing agents in shampoo are milder than the ones in soap.            </p>
          <p><strong>When to use?
            </strong><br />
            Prior to applying conditioner.            </p>
          <p><strong>How does it work?
            </strong><br />
            Vitamins and other nutrients that are present in shampoos are targeted at the roots of the hair where it can nourish the hair from the root itself.</p></td>
        <td align="left" valign="top" bgcolor="#FFFFFF" style="font-size:13px; padding:5px 15px; border-left:1px solid #096aab; color:#555555;  text-align:justify; line-height:1.5em; "><p><strong>Why to use?</strong>          <br />
          Used to restore hair’s moisture. Makes the hair soft, manageable and easier to style. Restores shine, body and pH balance of the hair. Makes hair stronger.
          </p>
          <p><strong>When to use?</strong><br />
            Once your hair is shampooed, apply conditioner and rinse. Leave in conditioners should not be rinsed. People with age group lesser than 30 may not use conditioner frequently as growth hormones release natural hair oil. </p>
          <p><strong>What are they?</strong>            <br />
            Contain moisturizers, proteins and oils. Conditioners naturally tend to be more acidic.</p></td>
      </tr>
            <tr>
        <td height="5px" colspan="2" bgcolor="#096aab"></td>
        </tr>
            <tr>
              <td colspan="2" height="10px"></td>
            </tr>
            <tr>
        <td colspan="2"><table width="700" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="160" bgcolor="#FFFFFF" ><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/paul-mitchell-lavender-mint-moisturizing-shampoo/PLMCL10?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img03_a.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/paul-mitchell-lavender-mint-moisturizing-shampoo/PLMCL10?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Paul Mitchell Lavender Mint Moisturizing Shampoo</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/just-herbs-dandruff-control-ayurvedic-soya-protein-shampoo/JSTHB03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img03_b.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/just-herbs-dandruff-control-ayurvedic-soya-protein-shampoo/JSTHB03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Just Herbs Dandruff Control Ayurvedic Soya Protein Shampoo</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/toni-guy-shine-enhance-conditioner/BTY508?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img03_c.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/toni-guy-shine-enhance-conditioner/BTY508?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Toni&Guy <br />
                  Shine Enhance <br />
                  Conditioner</a></td>
              </tr>
            </table></td>
            <td width="20">&nbsp;</td>
            <td width="160" bgcolor="#FFFFFF"><table width="160" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #096aab">
              <tr>
                <td><a href="http://www.healthkart.com/product/manufaktura-regenerating-dead-sea-hair-conditioner/HMSPA23?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/img03_d.jpg" width="160" height="120" border="0" /></a></td>
              </tr>
              
              <tr>
                <td style="font-size:13px; font-weight:bold; color:#096aab; padding:5px; text-align:center"><a href="http://www.healthkart.com/product/manufaktura-regenerating-dead-sea-hair-conditioner/HMSPA23?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#096aab; text-decoration:none;">Manufaktura Regenerating Dead Sea Hair Conditioner</a></td>
              </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><a href="http://www.healthkart.com/beauty/what-s-new/women-nutrition?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/banner_nut.jpg" alt="Specialized Nutrition" width="700" height="130" border="0" /></a></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #096aab"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june"><img src="http://img.healthkart.com/email/beauty_june/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-14-beauty_june" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/beauty_june/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/beauty_june/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #096aab 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
