build/
dev/
mih_dev/
bin/
dist/
out/
bin-groovy/
.svn/
.metadata/
.idea/
.gradle/
*.class
*.bak
*.log
*.ipr
*.iws
*.iml
*.eml
*.ids
*.classpath
*.project
*.war
*.rar
Thumbs.db
.idea
.project
environmentLocator.properties
rebel.xml
.swp
clean.bat
HKWeb/view/js/node_modules/
HKWeb/view/wf
HKWeb/view/node_modules/
HKJunctionClient/
HKJunction/

