<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Weekend special offers</title></head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="500" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://www.healthkart.com/email/september_month_end_offer/combo-emailer.html">Click here</a> to view a web version.</td>

  </tr>
  
  
  
  
    <tr>
    <td><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="250"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="181" align="right" style="font-size:12px; font-weight:bold; color:#333333">Like us:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
    </table></td>
  </tr>
  
  
  
  
  
  <tr>
    <td><table align="center" width="500" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #d1d1d1">

      
      <tr>
        <td><table width="500" border="0" cellspacing="0" cellpadding="0"  style="font-size:12px; color:#363636">
          <tr>
            <td colspan="3"><img src="http://img.healthkart.com/email/september_month_end_offer/images/weekend-offer.jpg" width="500" height="236" /></td>
            </tr>
          <tr>
            <td width="20">&nbsp;</td>
            <td width="379"><strong>Hi user,</strong></td>

            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="10px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td>The festive season is setting in. We have been hard at work to get the latest in health & wellness products delivered at your doorsteps.
              In September we added products from brands such as <a href="http://www.healthkart.com/brand/beauty/BRAUN?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="color:#363636; font-weight:bold">Braun</a>,
              <a href="http://www.healthkart.com/brand/beauty/Skintruth?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="color:#363636; font-weight:bold">Skin Truth</a>,
              <a href="http://www.healthkart.com/brand/beauty/Oxy?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="color:#363636; font-weight:bold">Oxy</a>,
              <a href="http://www.healthkart.com/brand/beauty/FACES?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="color:#363636; font-weight:bold">Faces</a> and many more. </td>

            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="10 px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td><strong>Here are some special offers, indulge yourself or gift a dose of health to your friends and family.</strong></td>

            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="20px">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">
            <table width="500" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><img src="http://img.healthkart.com/email/september_month_end_offer/images/for-him.jpg" width="250" height="40" /></td>
    <td style="border-left:solid 1px #d1d1d1"><img src="http://img.healthkart.com/email/september_month_end_offer/images/for-her.jpg" width="249" height="40" /></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="border-left:solid 1px #d1d1d1">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="250" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/post-workout/NUT455?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forhim-01.jpg" alt="Post Workout " width="190" height="150" border="0" /></a></td>
        <td width="27px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/post-workout/NUT455?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Post Workout Combo</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/post-workout/NUT455?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">
Save Rs. 1549</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/nutrition/accessories-combos/combos?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td style="border-left:solid 1px #d1d1d1"><table width="249" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/nail-perfection/BTY700?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forher-01.jpg" alt="Nail Perfection" width="190" height="150" border="0" /></a></td>
        <td width="26px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/nail-perfection/BTY700?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Nail Perfection Combo</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/nail-perfection/BTY700?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Save Rs. 375</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/beauty/what-s-new/gift-ideas?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="border-left:solid 1px #d1d1d1">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="250" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/gillette-fusion-power-phantom/MSH001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forhim-02.jpg" alt="Gillette Fusion Power Phantom" width="190" height="150" border="0" /></a></td>
        <td width="27px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/gillette-fusion-power-phantom/MSH001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Gillette Fusion Power Phantom</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/gillette-fusion-power-phantom/MSH001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Save Rs. 68</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/beauty/men/shaving?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td style="border-left:solid 1px #d1d1d1"><table width="249" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/braun-silk-soft-lady-shaver-ls5160/BTY777?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forher-02.jpg" alt="Braun Silk &amp; Soft Lady Shaver LS5160 " width="190" height="150" border="0" /></a></td>
        <td width="26px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/braun-silk-soft-lady-shaver-ls5160/BTY777?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Braun Lady Shaver LS5160</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/braun-silk-soft-lady-shaver-ls5160/BTY777?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Save Rs. 329</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/beauty/what-s-new/new-arrivals?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td style="border-left:solid 1px #d1d1d1">&nbsp;</td>
  </tr>
  <tr>
    <td><table width="250" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/toni-guy-travel-sets/BTY521?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forhim-03.jpg" alt="Toni&amp;Guy Travel Sets" width="190" height="150" border="0" /></a></td>
        <td width="27px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/toni-guy-travel-sets/BTY521?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Toni&Guy Travel Sets Combo</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/toni-guy-travel-sets/BTY521?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Save Rs. 262</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/beauty/hair-care?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
    <td style="border-left:solid 1px #d1d1d1"><table width="249" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="27px">&nbsp;</td>
        <td style="border:solid 3px #d1d1d1"><a href="http://www.healthkart.com/product/totally-infatuated!/BTY697?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer"><img src="http://img.healthkart.com/email/september_month_end_offer/images/forher-03.jpg" alt="Karvachauth Special- 1 " width="190" height="150" border="0" /></a></td>
        <td width="26px">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:12px"><a href="http://www.healthkart.com/product/totally-infatuated!/BTY697?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Totally Infatuated!</a></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td align="center" valign="middle" bgcolor="#d1d1d1" style="border:solid 3px #d1d1d1; font-size:16px"><strong><a href="http://www.healthkart.com/product/totally-infatuated!/BTY697?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; color:#363636">Save Rs. 205</a></strong></td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td height="28px" align="right" valign="middle"><a href="http://www.healthkart.com/beauty/what-s-new/gift-ideas?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-30-09-sep-emailer" style="text-decoration:none; font-style:italic; color:#313131;">See more offers</a></td>
        <td>&nbsp;</td>
      </tr>
    </table></td>
  </tr>
</table>            </td>
          </tr>
          <tr>
            <td colspan="3" height="20px">&nbsp;</td>
            </tr>
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></p>
          </td>
      </tr>
    </table></td>
  </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
  
  
  

</table>
</body>
</html>
