<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HealthKart - India's #1 Diabetes e-store. Authorized online partner for India's top brands</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/diabetes_emailer_feb12/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="227"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0" /></a></td>
        <td width="18" style="border-left: solid 1px #999999"></td>
        <td width="390" align="left" style="font-size:13px; font-weight:bold; color:#666666"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#666666; text-decoration:none">India's premier e-health store!</a></td>
        <td width="39">&nbsp;</td>

        <td width="26">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5"><a href="http://www.healthkart.com/diabetes/testing-supplies/combos?brand=OneTouch&utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/main_banner.jpg" alt="HealthKart - India's #1 Diabetes e-store. Authorized online partner for India's top brands" border="0" /></a></td>
      </tr>
 
      
      <tr>
        <td colspan="5" height="15"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
     <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Diabetic Meters</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/onetouch-ultra-2-with-25-free-ultrasoft-lancets/CMB-DIA010?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img01_a.jpg" alt="OneTouch Ultra 2 with 25 Free Lancets" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/onetouch-ultra-2-with-25-free-ultrasoft-lancets/CMB-DIA010?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; OneTouch Ultra 2 with <br />
 &nbsp; 25 Free Lancets</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Prick with ease ! One touch and you are done. Blood monitoring simpler.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/onetouch-select-simple-meter-w-25-free-ultrasoft-lancets/CMB-DIA011?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img01_b.jpg" alt="OneTouch Select Simple Meter w/ 25 Free Ultrasoft Lancets" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/onetouch-select-simple-meter-w-25-free-ultrasoft-lancets/CMB-DIA011?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> OneTouch SelectSimple<br>Meter w/25 Free Lancets</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Checking blood sugar is now more convenient. Blood monitoring at your fingertips.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/diabetes-onetouch-care-combo/CMB-DIA03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img02_c.jpg" alt="Diabetes OneTouch Care Combo" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/diabetes-onetouch-care-combo/CMB-DIA03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp;  Diabetes OneTouch<br />
 &nbsp; Care Combo</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Check your blood glucose at your home. One touch solution for your daily control.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/onetouch-ultra-2-combo-for-diabetics/CMB-DIA05?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img02_d.jpg" alt="OneTouch Ultra 2 Combo For Diabetics" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/onetouch-ultra-2-combo-for-diabetics/CMB-DIA05?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; OneTouch Ultra 2<br />
 &nbsp; Combo For Diabetics</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">No pain only gain! One prick and get your blood glucose reading soon. </td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="15" style="border-bottom:dashed #999999 1px"></td>
    </tr>
    
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="15"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/onetouch-ultra-test-strips/DS005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img02_a.jpg" alt="OneTouch Ultra Test Strips" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/onetouch-ultra-test-strips/DS005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; OneTouch Ultra Test<br />
 &nbsp; Strips</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Just a speck of blood to make your life easy. Daily monitoring more convenient!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/onetouch-select-simple-test-strips/DS020?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img02_b.jpg" alt="OneTouch Select Simple Test Strips" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/onetouch-select-simple-test-strips/DS020?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; OneTouch Select<br />
 &nbsp; Simple Test Strips</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Boon for people with diabetes and health care professionals.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/accu-chek-half-century-combo/DC014?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img01_c.jpg" alt="Accu Chek Half Century Combo" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/accu-chek-half-century-combo/DC014?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Accu Chek Half<br />
 &nbsp; Century Combo</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Pain free and accuracy in seconds.Doctor's choice you just can not ignore!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/accu-chek-active-strip-combo/CMB-DIA01?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img01_d.jpg" alt="Accu Chek Active Strip Combo" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/accu-chek-active-strip-combo/CMB-DIA01?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Accu Chek Active Strip<br />
 &nbsp; Combo</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Quick visual blood sugar tests. Safe handling now in your finger tips! </td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="15" style="border-bottom:dashed #999999 1px"></td>
    </tr>
    
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="15"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/optium-super-saver-dhamaka/CMB-DIA012?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img03_a.jpg" alt="Optium Super Saver Dhamaka" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/optium-super-saver-dhamaka/CMB-DIA012?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Optium Super Saver<br />
 &nbsp; Dhamaka</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">The perfect diabetes check up. Now more simpler and effective!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/accu-chek-active/DM008?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img03_b.jpg" alt="ACCU-CHEK ACTIVE" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/accu-chek-active/DM008?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; ACCU-CHEK ACTIVE</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Pain fee and accurate results now in seconds. Make your life more interesting!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/accu-chek-integra/DM003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img03_c.jpg" alt="Accu chek Integra" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/accu-chek-integra/DM003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Accu chek Integra</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Fast and accurate results, now with life time warrantly. Great combination!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/contour-super-saver-pack/DM019?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img03_d.jpg" alt="Contour Super Saver Pack " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/contour-super-saver-pack/DM019?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Contour Super Saver<br />
 &nbsp; Pack </a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Great combo you can never imagine. Simple and accurate results hassle-free!</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Diabetic Foods</td>
    </tr>
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/glucerna-sr/NUT689?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img04_a.jpg" alt="Glucerna SR" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/glucerna-sr/NUT689?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Glucerna SR</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Delicious and tasty drink you would never put your hands away from! Good health.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/stute-diabetic-no-sugar-added-jam/SWT013?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img04_b.jpg" alt="Stute Diabetic No Sugar Added Jam" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/stute-diabetic-no-sugar-added-jam/SWT013?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Stute Diabetic No Sugar<br />
 &nbsp; Added Jam</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Feel the taste of fresh, juicy fruits in every spoonful each day. Move over fruits!!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/splenda-packets/SWT002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img04_c.jpg" alt="Splenda Packets" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/splenda-packets/SWT002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Splenda Packets</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Add sweet to your life with small packs of joy and health. Deserts are guilt-free!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/golightly-sugarfree-candy-assorted/SWT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img04_d.jpg" alt="Golightly Sugarfree Candy Assorted" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/golightly-sugarfree-candy-assorted/SWT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Golightly Sugarfree<br />
 &nbsp; Candy Assorted</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Craving for sweets but scared about the side effects? Delicious treats.</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Diabetic Foot Care</td>
    </tr>
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/scholl-air-pillo-gel-insoles/PF017?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img05_a.jpg" alt="Scholl Air-Pillo Gel Insoles " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/scholl-air-pillo-gel-insoles/PF017?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Scholl Air-Pillo Gel<br />
 &nbsp; Insoles </a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;"><span dir="ltr" id=":1cr">All day comfort and cushioning. Shock-free and happy feet guaranteed!</span></td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/zori-orthotic-slippers-unisex-red-white/FC044?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img05_b.jpg" alt="Zori Orthotic Slippers Unisex (Red &amp; White)" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/zori-orthotic-slippers-unisex-red-white/FC044?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Zori Orthotic Slippers<br />
 &nbsp; Unisex (Red & White)</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Glide your feet in style and comfort. Get rid of fatigue in a snap!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/neat-feat-diabetic-self-moulding-insole/PF044?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img05_c.jpg" alt="Neat Feat Diabetic Self Moulding Insole" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/neat-feat-diabetic-self-moulding-insole/PF044?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Neat Feet Diabetic Self<br />
 &nbsp; Moulding Insole</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Get rid of aching soles. Comfort for your delicate feet. Support and protection.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/neat-feat-full-length-cushioning-insole/PF046?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/img05_d.jpg" alt="Neat Feat Full Length Cushioning Insole" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/neat-feat-full-length-cushioning-insole/PF046?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#363636; text-decoration:none;"> &nbsp; Neat Feet Full Length<br />
 &nbsp; Cushioning Insole</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Forget stressed feet! Shock-proof your marathons with comfort. Jog on!</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    
    
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
  
  
  
</table></td>
    </tr>
    <tr>
      <td height="20" style="border-bottom:dashed #999999 1px">&nbsp;</td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="20"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td colspan="3" style="font-size:18px; font-weight:bold;">Want To Purchase A Diabetes Meter? Top 10 Things To Consider</td>
          </tr>
        <tr>
          <td colspan="3" height="10px"></td>
          </tr>
        <tr>
          <td width="300" align="left" valign="top"><a href="http://www.healthviva.com/how-to-choose-a-diabetes-meter-top-10-things-to-consider?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/diabetes_contant.jpg" width="300" height="224" border="0" /></a></td>
          <td width="18">&nbsp;</td>
          <td width="382" align="left" valign="top" style="font-size:13px;"><em>It is a pretty common question which every diabetic person asks- which meter system should I use? Like with everything else, there is a flood of products to choose from. However, it  is important that the user should be aware of the key factors of this purchase on which he or she may then choose to optimize.</em><br />
            <br />
So, while the manufacturers may gloat over how awesome some little feature is, I speak just for an average consumer - generally all who needs is an accurate reading of blood glucose with minimum pain, and lowest cost.<br />
<br />
<strong><a href="http://www.healthviva.com/how-to-choose-a-diabetes-meter-top-10-things-to-consider?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#000000;">Read More&gt;&gt;</a></strong></td>
        </tr>
        
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
</table></td>
  </tr>
  <tr>
    <td  bgcolor="#b8b8b8" style="border-top: solid #606060 2px"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-02-21-diabetes_emailer_feb12" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/diabetes_emailer_feb12/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
