<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Diabetes Day Special Offer. Get flat 15% cash back.</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/diabetes-day-emailer/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="258"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="273" align="right" style="font-size:12px; font-weight:bold; color:#333333">Spread the word:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="500" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.healthkart.com/diabetes?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/main_banner.jpg" alt="Happy Children's Day. Flat 15% cash back on all purchases." title="Happy Children's Day. Flat 15% cash back on all purchases." width="500" height="300" border="0" /></a></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp; Top Brands</td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/integra-diabetes-day-combo/DC007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/accu1.jpg" alt="Integra Diabetes Day Combo" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/integra-diabetes-day-combo/DC007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Integra Diabetes Day Combo</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 40% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;"><p>Now get your blood sugar level results at the press of a button. We value your health and offer the combo at an enviable discount of 40%. Now you can keep a check on your blood sugar in just Rs.1908.</p>                        </td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/integra-diabetes-day-combo/DC007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/diabetic-nutrition-combo/DC012?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/combo2.jpg" alt="Diabetic Nutrition Combo" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/diabetic-nutrition-combo/DC012?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Diabetic Nutrition Combo</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 10% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Don’t let Diabetes stop you from enjoying your share of tasty jams and chocolates. Healthkart offers you its Diabetic Nutrition Combo containing various healthy eatables available with a discount of 10% only at Rs 1,155.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/diabetic-nutrition-combo/DC012?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15"  style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="15"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/combo-for-recently-diagnosed/DC009?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/combo3.jpg" alt="Combo for Recently Diagnosed" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/combo-for-recently-diagnosed/DC009?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Combo for Recently Diagnosed</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 30% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Quick scan your diabetic level and get accurate blood sugar results. Now you can also take care of your protein intake while walking without discomfort with an unimaginable discount of 30%. Get holistic care at just Rs. 4422!</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/combo-for-recently-diagnosed/DC009?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="15"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/accu-chek-active-strip-combo/DC008?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/combo4.jpg" alt="Accu Chek Active Strip Combo" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/accu-chek-active-strip-combo/DC008?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Accu Chek Active Strip Combo</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 35% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Now get your blood sugar level results at the press of a button. We value your health and offer the combo at an enviable discount of 40%. Now you can keep a check on your blood sugar in just Rs.1908.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/accu-chek-active-strip-combo/DC008?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="15"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/diabetes-onetouch-care-combo/DC011?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/combo5.jpg" alt="Diabetes Onetouch Care Combo" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/diabetes-onetouch-care-combo/DC011?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Diabetes Onetouch Care Combo</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 30% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Now the solution to your diabetes is just a click away. Bringing you the best available diabetes care items from recommended brands like Omron and OneTouch, you can save upto 30% specially offered by Healthkart. </td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/diabetes-onetouch-care-combo/DC011?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="15"><table width="500" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/diabetes-care-combo/DC010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/combo6.jpg" alt="Diabetes Care Combo" width="150" height="150" border="0" /></a></td>
                    <td width="20"></td>
                    <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/diabetes-care-combo/DC010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Diabetes Care Combo</a></td>
                        </tr>
                        <tr>
                          <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 25% Off</td>
                        </tr>
                        <tr>
                          <td style="color:#363636; font-size:12px;">Use our Diabetes Care combo, combined specifically to suit the purpose of keeping your Diabetes level on check. Not only that, we are also offering you an attractive discount of 25% to make it more reasonable.</td>
                        </tr>
                        <tr>
                          <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/diabetes-care-combo/DC010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636">Read more &gt;&gt;</a></td>
                        </tr>
                    </table></td>
                  </tr>
              </table></td>
            </tr>
            
            
          
        
          </table></td>
          <td  style="border-right: 1px solid #363636">&nbsp;</td>
          <td width="175" align="left" valign="top"><table width="175" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636">&nbsp;</td>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF">Special Offers</td>
            </tr>

            <tr>
              <td width="25">&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/benefit-no-sugar-added-jam/NUT515?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Benefit No Sugar Added Jam </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/benefit-no-sugar-added-jam/NUT515?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/special01.jpg" alt="Benefit No Sugar Added Jam " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">10% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Sweet news for weight watchers and diabetics! Go size zero in flavors of plum, apricot and strawberry. Indulge without worries. </td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/stevia-leaves-50-gms/NUT491?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Stevia Leaves - 50 gms  </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/stevia-leaves-50-gms/NUT491?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/special02.jpg" alt="Stevia Leaves - 50 gms " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">10% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Keep your mouth fresh while controlling indigestion, cavities, high BP and acidity! Stevia is 30 times sweeter than sugar &amp; increases glucose tolerance in daibetics.</td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
           
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/protinex-nutritional-supplement-for-diabetes-care/NUT117?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Protinex Nutritional Supplement for Diabetes Care</a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/protinex-nutritional-supplement-for-diabetes-care/NUT117?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/special03.jpg" alt="Protinex Nutritional Supplement for Diabetes Care" width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">5% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Get the right nourishment while keeping your diabetes at bay! With low glycemic index, 12 vitamins &amp; 13 minerals, Protinex is a must have.</td>
                </tr>
                <tr>
                  <td height="15px" style="border-bottom:solid 1px #363636"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/neslte-resource-diabetic-tin/NUT115?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer" style="color:#363636; text-decoration:none;">Neslte Resource Diabetic Tin</a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/neslte-resource-diabetic-tin/NUT115?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-10-diabetes-day-emailer"><img src="http://img.healthkart.com/email/diabetes-day-emailer/images/special04.jpg" alt="Neslte Resource Diabetic Tin" width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">5% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">High protein, fiber containing supplement that effectively wards off diabetes. Just dissolve in boiled water &amp; consume.</td>
                </tr>
                <tr>
                  <td height="15px"></td>
                </tr>
              </table></td>
            </tr>

          </table></td>
        </tr>

      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></p>          </td>
      </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
