div, h1, h2, h3, h4, span, ul, ol, p, form {
	margin: 0;
	padding: 0;
	
}
body{
	background:white;
	font-size: 12px;
}
div[data-role=page]{
	background:white
}
.hide{
display:none
}
.clear{
	clear:both;
	margin:1px 0px
}

.bgSearchLeft{
background:url(../images/bg_search_left.png) no-repeat top;
display:inline-block;
width:30px;
height:29px;

}
.bgSearchRight{
background:url(../images/bg_search_right.png) no-repeat top;
display:inline-block;
width:29px;
height:29px;

}

#menuLink{
	position:absolute;
	top:15px;
	right:4%;
}


/***Menu bar rules*S**/
table.menuContainer{
	width:100%;
	border-spacing:0px;
	padding:5px 8px;
}
table.menuContainer td{
	padding:0px
}
table.menuContainer .sessionOptions{
	text-align:right;
	color:#012;
	text-shadow:none;
	line-height:18px;
	font-weight:normal
	}

#homeButton{
	background-color:#FF8213;
	/*display:inline-block;*/
	padding:4px;
	height:32px;
	width:32px;
	margin-right:10px;
	
	background-image:url(../images/home.png);
	background-repeat:no-repeat;
	background-position:3px 3px
	}
	table#footerLink{
		width:100%;
		border-spacing:0px;
				border-bottom:1px solid #e9c6a0;
	}
	table#footerLink tr:nth-child(odd){
		background-color:#ffeccc
	}
	table#footerLink tr:nth-child(even){
		background-color:#ffddb7
	}
	table#footerLink tr td{
		border-top:1px solid #e9c6a0;
		
		
	}
	table#footerLink tr td a{
		text-decoration:none;
		color:#012;
		display:block;
		padding-left:30px;
		padding-top:10px;
		padding-bottom:10px
	}
	

		

	
/***Menu bar rules*E**/
/***Shadow Effects*S**/
.shadow-4-all{
		box-shadow:  4px 4px 8px #ccc, -4px -4px 8px #ccc;
		-webkit-box-shadow: 4px 4px 8px #ccc, -4px -4px 8px #ccc;
		}
/***Shadow Effects*E**/
	
/***Content Layout*S**/
/***General Layout*S**/

	.arr-r{
background-image:url(../images/arrow_category.png);
background-repeat:no-repeat;
background-position: 98% center;
}


.ui-bar-a,.ui-bar-b,.ui-bar-c ,.ui-bar-d,.ui-bar-e{
background-image : none;
border:none;
/*box-shadow: 0px 2px 4px #ccc;
-webkit-box-shadow: 0px 2px 4px #ccc;*/
/*margin-bottom:10px*/
}
.ui-btn-icon-right .ui-icon{
	right:15px;
}
.ui-icon-arr{
background-image:url(../images/arrow_category.png);
margin-top:-5px !important;
z-index:inherit
}
.ui-icon-none{
/*background-image:transparent*/
}
.ui-icon, .ui-icon-searchfield::after
	{
	border:none;
	background-color:transparent;
	
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	border-radius: 0px;
	}

    .ui-icon-shadow {
		-moz-box-shadow: none;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
.ui-content{
		padding:0px;
		
		
	}
 div.ui-input-search.ui-btn-corner-all{
-moz-border-radius: 6px; -webkit-border-radius: 6px; -khtml-border-radius: 6px; border-radius: 6px;

}
.ui-header{
		background:url(../images/header_bg.png)
		
	}
.ui-header .ui-title{
margin :0px;
}
.ui-header .ui-navbar .ui-grid-b,.ui-header .ui-navbar div.ui-btn-up-c,.ui-header .ui-navbar li .ui-btn-up-c,.ui-header .ui-navbar li .ui-btn-active,.ui-header .ui-navbar li .ui-btn-hover-c{
	background:url(../images/navbar_bg.png) top
}
.ui-navbar li .ui-btn .ui-btn-inner {
	padding-top:0.6em;
	padding-bottom:0.6em
}

.ui-header .ui-navbar li .ui-btn .ui-btn-inner .ui-icon{
	/*height:30px*/
	/*background-image: url(themes/default/images/icons-36-black.png) ;
	left:45%;
	top:3px;
	width:36px;
	height:36px;*/
}
.ui-header .ui-navbar li .ui-btn .ui-btn-inner .ui-btn-text{	
	vertical-align:middle
}

.ui-header input.ui-input-text{
width:94%
}
.ui-input-text.ui-focus, .ui-input-search.ui-focus {
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
	.ui-li-heading{
color:#37BCDD;
padding:0px;

}
.ui-shadow-inset {
-moz-box-shadow: none;
-webkit-box-shadow: none;
box-shadow: none;
}
ul.ui-autocomplete li a{
	width:95%
}
ul.ui-autocomplete{
	border-bottom:2px solid grey;
    
}
ul.ui-autocomplete .ui-menu-item{
background-color:white
}
ul.ui-autocomplete .ui-state-hover{
border:none
}
ul.ui-autocomplete li{
	border-bottom:1px solid #eeeeee;
}
 .ui-icon, .ui-icon-searchfield::after, #img-ser{
        line-height: 1px;
    }
.searchContainer {

}
.ui-header .searchContainer  a.ui-input-clear{ 
	top:2px;
	right:3px	
}
.ui-header .searchContainer .ui-icon-searchfield::after
{
	background-image:url(themes/default/images/icons-18-black.png);
}
.ui-header .searchContainer  a.ui-input-clear.ui-fullsize .ui-btn-inner{
	padding:0px;
	
}
#productSearch {
height: 23px;
font-weight: normal;
font-size: 13px;
width: 100%;
box-shadow: 0px;
margin: 2px 0px 2px 0px;
display: inline;
}

/***General Layout*E**/
/***Grid Layout*S**/
	.grid{
		background-color:snowwhite;
		width:100%;
		min-height:100px;
		text-align:center
	}
	.gridBlock{
		display:inline-block;
		margin:10px;
		width:116px;
		white-space:nowrap;
		
		padding:4px;
		box-shadow:  4px 4px 6px #ddd, -4px -4px 6px #ddd;
		-webkit-box-shadow: 4px 4px 6px #ddd, -4px -4px 6px #ddd;
	}
	.gridBlock a{
		display:block
	}
	.grid .center{
		display: inline-block;
		
	}
	.grid img{
		clear:both;
		width:70px;
		height:70px
	}
	.grid a{
		text-decoration:none
	}
	
	
	.grid .ui-block-a,.grid .ui-block-b,.grid .ui-block-c,.grid .ui-block-d,.grid .ui-block-e{
	/*border:1px solid;*/
	border-right:none;
	border-bottom:none;
	text-align:center;

	color:white;
	padding:20px
	}
	.grid .ui-block-c{
	/*border-right:1px solid*/
	}
	.grid .border-bottom{
		/*border-bottom:1px solid*/
	}
	#home .grid a{
		text-decoration:none;
		
		text-shadow:none
	}
	.grid .ui-link{
		font-weight:normal
	}
/***Grid Layout*E**/

/***Product & Category Listing Layout*S**/
#categoryContainer,#subCategoryContainer{
	margin:10px;
}

#categoryContainer ul,#subCategoryContainer ul{
	box-shadow:none;
	-webkit-box-shadow:none;
}
#categoryContainer li:nth-child(even),#subCategoryContainer li:nth-child(even){
	background:white
}
#categoryContainer li:nth-child(odd),#subCategoryContainer li:nth-child(odd){
	background:#efefef
}
#categoryContainer .heading,#subCategoryContainer .heading{
	background:url(../images/category_bg.png);
	font-size:1.4em;
	font-weight:	bold;
	color: #3f3f3f;
	text-shadow:none;	
}
#categoryContainer li.ui-btn-active,#subCategoryContainer li.ui-btn-active{
	border:inherit
}
#categoryContainer li .ui-btn-text,#categoryContainer li.ui-btn-up-c,#categoryContainer li.ui-btn-active,#categoryContainer li.ui-btn-active a.ui-link-inherit,#subCategoryContainer li .ui-btn-text,#subCategoryContainer li.ui-btn-up-c,#subCategoryContainer li.ui-btn-active,#subCategoryContainer li.ui-btn-active a.ui-link-inherit{
	font-weight:normal;
	color:#6c6c6c;
	text-shadow:none;
	
	
}
#productList .ui-li .ui-btn-inner a.ui-link-inherit, #productList  .ui-li-static.ui-li,
#cartList .ui-li .ui-btn-inner a.ui-link-inherit, #cartList  .ui-li-static.ui-li,
#productDetailMain .ui-li .ui-btn-inner a.ui-link-inherit, #productDetailMain  .ui-li-static.ui-li {
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left:0px;
	white-space:no-wrap;
	/*padding-left: 100px;*/
	display: block;
}


#categoryListing li,#productList li,#cartList li{
		padding-left:10px;
		padding-right:10px;
		background-position-x:95%;
		
	}
	
#productList .image-container,#cartList .image-container,#productDetailMain .image-container,#variantList .image-container{	
	width:90px;
	height:inherit;
	background:white;
	padding-left:8px;	
}
#productList .image-container img,#cartList .image-container img,#productDetailMain .image-container img,#variantList .image-container img{
	width:88px
}
#productList .text-container,#cartList .text-container,#productDetailMain .text-container,#variantList .text-container{
	padding-left:10px;	
}
#variantList .variant-description {
	max-width:140px;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:normal;
	vertical-align:top
}
#variantList .text-container {
	max-width:80px;
	overflow:hidden;
	text-overflow:ellipsis;
}
#productList .ofrPrc,#cartList .ofrPrc,#productDetailMain .ofrPrc,#variantList .ofrPrc{
	font-size:1.2em;
	display:block;
	font-weight:bold;
	color:#090;
	opacity:0.8;
	margin-top:5px;
	max-width:90%;
	overflow:hidden
}
#productList .svPrcnt,#cartList .svPrcnt,#productDetailMain .svPrcnt,#variantList .svPrcnt{
	font-size:1.1em;
	display:block;
	color:#888;
	
	margin-top:5px
}
#productList .ad2Crt,#productDetailMain .ad2Crt,#variantList .ad2Crt{
/*	background:url(../images/cart_empty_small.png) no-repeat left;*/
background:#00B300;

	
	line-height:20px;
	font-weight:normal;
	color:white;
	border-radius:10px;
	font-size:0.8em;
	display:inline-block;
	float:right;
	position:relative;
	right:15px;
	
	overflow:visible;
	z-index:1000
	
	
}
#productList .variantDesc{
	width:96%;
	margin:0px auto;
	
}
/***Product & Category Listing Layout*E**/
/***Content Layout*S**/

/* Widget Rules * S */
/* scroller * S */
.scrollWindow{
	width:100%;
	text-align:center;
	height:115px;
	/*display: inline-block;*/
	position:relative;
	
}
.scrollWindow .scrollBlock{
	
	white-space:nowrap;
	
	box-shadow:  4px 4px 6px #ddd, -4px -4px 6px #ddd;
	-webkit-box-shadow: 4px 4px 6px #ddd, -4px -4px 6px #ddd;
}
.scrollWindow .scrollBlock .scrollBlockContent{
	display:inline-block;
	padding:4px;
	width:116px;
}
.scrollWindow .scrollBlock .scrollBlockContent img{
	clear:both;
	width:70px;
	height:70px;
}
/* scroller * E*/
/* Widget Rules * E */