<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <mapping class="com.hk.domain.user.Role"/>
        <mapping class="com.hk.domain.user.Permission"/>
        <mapping class="com.hk.domain.user.User"/>
        <mapping class="com.hk.domain.catalog.product.Product"/>
        <mapping class="com.hk.domain.catalog.product.ProductFeature"/>
        <mapping class="com.hk.domain.catalog.category.Category"/>
        <mapping class="com.hk.domain.catalog.Manufacturer"/>
        <mapping class="com.hk.domain.catalog.product.ProductImage"/>
        <mapping class="com.hk.domain.catalog.product.ProductOption"/>
        <mapping class="com.hk.domain.catalog.product.ProductExtraOption"/>
        <mapping class="com.hk.domain.catalog.product.ProductVariant"/>
        <mapping class="com.hk.domain.user.Address"/>
        <mapping class="com.hk.domain.catalog.product.ProductGroup"/>
        <mapping class="com.hk.domain.offer.OfferAction"/>
        <mapping class="com.hk.domain.offer.OfferTrigger"/>
        <mapping class="com.hk.domain.offer.Offer"/>
        <mapping class="com.hk.domain.offer.OfferInstance"/>
        <mapping class="com.hk.domain.coupon.Coupon"/>
        <mapping class="com.hk.domain.courier.Courier"/>
        <mapping class="com.hk.domain.core.CartLineItemType"/>
        <mapping class="com.hk.domain.shippingOrder.LineItem"/>
        <mapping class="com.hk.domain.order.CartLineItemExtraOption"/>
        <mapping class="com.hk.domain.core.PaymentMode"/>
        <mapping class="com.hk.domain.core.PaymentStatus"/>
        <mapping class="com.hk.domain.payment.Payment"/>
        <mapping class="com.hk.domain.core.Tax"/>
        <mapping class="com.hk.domain.order.Order"/>
        <mapping class="com.hk.domain.core.OrderStatus"/>
        <mapping class="com.hk.domain.offer.rewardPoint.RewardPoint"/>
        <mapping class="com.hk.domain.offer.rewardPoint.RewardPointStatus"/>
        <mapping class="com.hk.domain.offer.rewardPoint.RewardPointTxn"/>
        <mapping class="com.hk.domain.offer.rewardPoint.RewardPointTxnType"/>
        <mapping class="com.hk.domain.user.UserAccountInfo"/>
        <mapping class="com.hk.domain.core.EmailType"/>
        <mapping class="com.hk.domain.email.EmailRecepient"/>
        <mapping class="com.hk.domain.email.EmailerHistory"/>
        <mapping class="com.hk.domain.content.SeoData"/>
        <mapping class="com.hk.domain.TempToken"/>
        <mapping class="com.hk.domain.Comment"/>
        <mapping class="com.hk.domain.Ticket"/>
        <mapping class="com.hk.domain.TicketHistory"/>
        <mapping class="com.hk.domain.TicketStatus"/>
        <mapping class="com.hk.domain.TicketType"/>
        <mapping class="com.hk.domain.inventory.ProductVariantInventory"/>
        <mapping class="com.hk.domain.inventory.rv.ReconciliationStatus"/>
        <mapping class="com.hk.domain.core.CancellationType"/>
        <mapping class="com.hk.domain.affiliate.Affiliate"/>
        <mapping class="com.hk.domain.affiliate.AffiliateAccountDetails"/>
        <mapping class="com.hk.domain.affiliate.AffiliateTxn"/>
        <mapping class="com.hk.domain.affiliate.AffiliateTxnType"/>
        <mapping class="com.hk.domain.CheckDetails"/>
        <mapping class="com.hk.domain.affiliate.AffiliateCategory"/>
        <mapping class="com.hk.domain.affiliate.AffiliateCategoryCommission"/>
        <mapping class="com.hk.domain.affiliate.DefaultCategoryCommission"/>
        <mapping class="com.hk.domain.affiliate.AffiliateTrafficDetails"/>
        <mapping class="com.hk.domain.marketing.FbcouponCampaign"/>
        <mapping class="com.hk.domain.coupon.FbcouponCoupon"/>
        <mapping class="com.hk.domain.coupon.FbcouponUser"/>
        <mapping class="com.hk.domain.coupon.FbcouponUserCampaign"/>
        <mapping class="com.hk.domain.coupon.DiscountCouponMailingList"/>
        <mapping class="com.hk.domain.accounting.AccountingInvoiceNumber"/>
        <mapping class="com.hk.domain.catalog.Supplier"/>
        <mapping class="com.hk.domain.order.OrderLifecycle"/>
        <mapping class="com.hk.domain.core.OrderLifecycleActivity"/>
        <mapping class="com.hk.domain.courier.BoxSize"/>
        <mapping class="com.hk.domain.email.EmailCampaign"/>
        <mapping class="com.hk.domain.inventory.po.PurchaseOrder"/>
        <mapping class="com.hk.domain.core.PurchaseOrderStatus"/>
        <mapping class="com.hk.domain.accounting.PoLineItem"/>
        <mapping class="com.hk.domain.sku.SkuItem"/>
        <mapping class="com.hk.domain.sku.SkuGroup"/>
        <mapping class="com.hk.domain.inventory.Bin"/>
        <mapping class="com.hk.domain.catalog.product.combo.Combo"/>
        <mapping class="com.hk.domain.catalog.product.combo.ComboProduct"/>
        <mapping class="com.hk.domain.catalog.product.combo.ComboInstance"/>
        <mapping class="com.hk.domain.catalog.product.combo.ComboInstanceHasProductVariant"/>
        <mapping class="com.hk.domain.inventory.LowInventory"/>
        <mapping class="com.hk.domain.offer.rewardPoint.RewardPointMode"/>
        <mapping class="com.hk.domain.core.ProductVariantPaymentType"/>
        <mapping class="com.hk.domain.core.ProductVariantServiceType"/>
        <mapping class="com.hk.domain.MapIndia"/>
        <mapping class="com.hk.domain.LocalityMap"/>
        <mapping class="com.hk.domain.accounting.AccountingInvoice"/>
        <mapping class="com.hk.domain.accounting.InvoiceLineItem"/>
        <mapping class="com.hk.domain.marketing.CampaignTracking"/>
        <mapping class="com.hk.domain.marketing.NotifyMe"/>
        <mapping class="com.hk.domain.catalog.product.ProductCount"/>
        <mapping class="com.hk.domain.inventory.rv.ReconciliationVoucher"/>
        <mapping class="com.hk.domain.inventory.rv.RvLineItem"/>
        <mapping class="com.hk.domain.inventory.GoodsReceivedNote"/>
        <mapping class="com.hk.domain.inventory.GrnLineItem"/>
        <mapping class="com.hk.domain.inventory.GrnStatus"/>
        <mapping class="com.hk.domain.core.InvTxnType"/>
        <mapping class="com.hk.domain.inventory.ProductVariantDamageInventory"/>
        <mapping class="com.hk.domain.user.UserCart"/>
        <mapping class="com.hk.domain.user.UserProductHistory"/>
        <mapping class="com.hk.domain.marketing.GoogleBannedWord"/>
        <mapping class="com.hk.domain.amazon.AmazonFeed"/>
        <mapping class="com.hk.domain.accounting.DebitNote"/>
        <mapping class="com.hk.domain.accounting.DebitNoteLineItem"/>
        <mapping class="com.hk.domain.accounting.DebitNoteStatus"/>
        <mapping class="com.hk.domain.courier.Awb"/>
        <mapping class="com.hk.domain.core.Pincode"/>
        <mapping class="com.hk.domain.warehouse.Warehouse"/>
        <mapping class="com.hk.domain.RetailLineItem"/>
        <mapping class="com.hk.domain.courier.StateCourierService"/>
        <mapping class="com.hk.domain.DoomDay"/>
        <mapping class="com.hk.domain.content.PrimaryCategoryHeading"/>
        <mapping class="com.hk.domain.catalog.category.CategoryImage"/>
        <mapping class="com.hk.domain.ItemDetail"/>
        <mapping class="com.hk.domain.TransactionHeader"/>
        <mapping class="com.hk.domain.TransactionBody"/>
        <mapping class="com.hk.domain.TransactionFooter"/>
        <mapping class="com.hk.domain.catalog.product.VariantConfig"/>
        <mapping class="com.hk.domain.catalog.product.VariantConfigValues"/>
        <mapping class="com.hk.domain.catalog.product.VariantConfigOption"/>
        <mapping class="com.hk.domain.order.CartLineItemConfig"/>
        <mapping class="com.hk.domain.order.CartLineItemConfigValues"/>
        <mapping class="com.hk.domain.inventory.po.PurchaseInvoice"/>
        <mapping class="com.hk.domain.inventory.po.PurchaseInvoiceLineItem"/>
        <mapping class="com.hk.domain.inventory.po.PurchaseInvoiceStatus"/>
        <mapping class="com.hk.domain.core.Surcharge"/>
        <mapping class="com.hk.domain.user.B2bUserDetails"/>
        <mapping class="com.hk.domain.inventory.rv.ReconciliationType"/>
        <mapping class="com.hk.domain.marketing.MarketingExpense"/>
        <mapping class="com.hk.domain.marketing.AdNetworks"/>
        <mapping class="com.hk.domain.order.ShippingOrder"/>
        <mapping class="com.hk.domain.sku.Sku"/>
        <mapping class="com.hk.domain.order.CartLineItem"/>
        <mapping class="com.hk.domain.order.ShippingOrderLifecycle"/>
        <mapping class="com.hk.domain.courier.Shipment"/>
        <mapping class="com.hk.domain.accounting.SeekInvoiceNum"/>
        <mapping class="com.hk.domain.order.OrderCategory"/>
        <mapping class="com.hk.domain.order.ShippingOrderLifeCycleActivity"/>
        <mapping class="com.hk.domain.order.ShippingOrderStatus"/>
        <mapping class="com.hk.domain.courier.PincodeDefaultCourier"/>
        <mapping class="com.hk.domain.payment.PaymentHistory"/>
        <mapping class="com.hk.domain.inventory.LastStockout"/>
        <mapping class="com.hk.domain.courier.CourierPricingEngine"/>
        <mapping class="com.hk.domain.review.ReviewStatus"/>
        <mapping class="com.hk.domain.review.UserReview"/>
        <mapping class="com.hk.domain.review.ReviewVote"/>
        <mapping class="com.hk.domain.courier.RegionType"/>
        <mapping class="com.hk.domain.courier.PincodeRegionZone"/>
        <mapping class="com.hk.domain.inventory.StockTransfer"/>
        <mapping class="com.hk.domain.inventory.StockTransferLineItem"/>
        <mapping class="com.hk.domain.store.Store"/>
        <mapping class="com.hk.domain.courier.CourierGroup"/>
        <mapping class="com.hk.domain.order.PrimaryReferrerForOrder"/>
        <mapping class="com.hk.domain.order.SecondaryReferrerForOrder"/>
        <!--<mapping class="com.hk.domain.inventory.BrandsToAudit"/>-->
        <mapping class="com.hk.domain.catalog.product.combo.SuperSaverImage"/>
        <mapping class="com.hk.domain.hkDelivery.Consignment"/>
        <mapping class="com.hk.domain.hkDelivery.ConsignmentStatus"/>
        <mapping class="com.hk.domain.hkDelivery.Runsheet"/>
        <mapping class="com.hk.domain.hkDelivery.Hub"/>
        <mapping class="com.hk.domain.hkDelivery.HkdeliveryPaymentReconciliation"/>
        <mapping class="com.hk.domain.hkDelivery.ConsignmentTracking"/>
        <mapping class="com.hk.domain.hkDelivery.RunsheetStatus"/>
        <mapping class="com.hk.domain.hkDelivery.ConsignmentLifecycleStatus"/>
	    <mapping class="com.hk.domain.marketing.ProductReferrer"/>
        <mapping class="com.hk.domain.clm.CategoryKarmaProfile"/>
        <mapping class="com.hk.domain.clm.KarmaProfile"/>
        <mapping class="com.hk.domain.subscription.Subscription" />
        <mapping class="com.hk.domain.subscription.SubscriptionLifecycle" />
        <mapping class="com.hk.domain.subscription.SubscriptionLifecycleActivity" />
        <mapping class="com.hk.domain.subscription.SubscriptionOrder" />
        <mapping class="com.hk.domain.subscription.SubscriptionOrderStatus" />
        <mapping class="com.hk.domain.subscription.SubscriptionProduct"/>
        <mapping class="com.hk.domain.subscription.SubscriptionStatus" />
        <mapping class="com.hk.domain.core.PurchaseFormType" />
        <mapping class="com.hk.domain.order.ReplacementOrder" />
        <mapping class="com.hk.domain.core.State" />
        <mapping class="com.hk.domain.core.City" />
        <mapping class="com.hk.domain.courier.AwbStatus" />
        <mapping class="com.hk.domain.catalog.product.SimilarProduct" />
        <mapping class="com.hk.domain.affiliate.AffiliateCategoryHasBrand" />
        <mapping class="com.hk.domain.affiliate.AffiliateStatus" />
	    <mapping class="com.hk.domain.feedback.Feedback" />
		<mapping class="com.hk.domain.offer.OfferEmailDomain" />
	    <mapping class="com.hk.domain.catalog.product.UpdatePvPrice" />
	    <mapping class="com.hk.domain.order.OrderPaymentReconciliation" />
	    <mapping class="com.hk.domain.order.analytics.DemandHistory" />
	    <mapping class="com.hk.domain.user.UserDetail" />
	    <mapping class="com.hk.domain.analytics.TrafficTracking" />
	    <mapping class="com.hk.domain.analytics.UserBrowsingHistory" />
        <mapping class="com.hk.domain.content.HeadingProduct" />
        <mapping class="com.hk.domain.user.BillingAddress" />
        <mapping class="com.hk.domain.payment.Gateway" />
        <mapping class="com.hk.domain.payment.Issuer" />
        <mapping class="com.hk.domain.payment.GatewayIssuerMapping" />
        <mapping class="com.hk.domain.core.Country" />
        <mapping class="com.hk.domain.payment.CurrencyConverter" />
        <mapping class="com.hk.domain.inventory.rtv.ExtraInventory"/>
        <mapping class="com.hk.domain.inventory.rtv.ExtraInventoryLineItem"/>
        <mapping class="com.hk.domain.inventory.rtv.RtvNote"/>
        <mapping class="com.hk.domain.inventory.rtv.RtvNoteLineItem"/>
        <mapping class="com.hk.domain.inventory.rtv.RtvNoteStatus" />
	    <mapping class="com.hk.domain.sku.SkuItemStatus" />
	    <mapping class="com.hk.domain.courier.PincodeCourierMapping" />
	    <mapping class="com.hk.domain.courier.ShipmentServiceType" />
	    <mapping class="com.hk.domain.api.HkApiUser" />
        <mapping class="com.hk.domain.inventory.rtv.ExtraInventoryStatus" />
        <mapping class="com.hk.domain.courier.CourierPickupDetail" />
        <mapping class="com.hk.domain.courier.PickupStatus" />
        <mapping class="com.hk.domain.reverseOrder.ReverseOrder" />
        <mapping class="com.hk.domain.reverseOrder.ReverseLineItem" />
	    <mapping class="com.hk.domain.inventory.StockTransferStatus" />
	    <mapping class="com.hk.domain.review.ProductReviewMail"/>
	    <mapping class="com.hk.domain.review.Mail"/>
	    <mapping class="com.hk.domain.review.UserReviewMail"/>
        <mapping class="com.hk.domain.cycleCount.CycleCount"/>
        <mapping class="com.hk.domain.cycleCount.CycleCountItem"/>
        <mapping class="com.hk.domain.inventory.creditNote.CreditNote"/>
        <mapping class="com.hk.domain.inventory.creditNote.CreditNoteStatus"/>
        <mapping class="com.hk.domain.inventory.creditNote.CreditNoteLineItem"/>
        <mapping class="com.hk.domain.reversePickupOrder.ReversePickupOrder"/>
        <mapping class="com.hk.domain.reversePickupOrder.RpLineItem"/>
        <mapping class="com.hk.domain.reversePickupOrder.ReversePickupStatus"/>
    </session-factory>
</hibernate-configuration>
