.AccordionTitle, .AccordionContent, .AccordionContainer
{
  position:relative;
  width:200px;
}

.AccordionTitle
{
  height:20px;
  width: 80%;
  overflow:hidden;
  cursor:pointer;
  font-family:Arial;
  font-size:8pt;
  vertical-align:middle;
  position: relative;
  float: left;
  left: 30px;
  top: 30px;
  background-repeat:repeat-x;
  display:table-cell;
  -moz-user-select:none;
  font-family: roboto-medium;
  font-size: 14px;
  color: rgb(85, 85, 85);
  margin-bottom: 5px;
}

.AccordionContent
{
  height:0px;
  top: 30px;
  display:none; 
  font-family: roboto-medium;
  font-size: 14px;
  color: rgb(85, 85, 85);
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.AccordionContainer
{
  height: auto;
  position: relative;
  float: left;
  top: 60px;
  box-shadow: 0px 8px 9px -3px #888;
  border-top: solid 1px #C1C1C1;
  border-bottom: solid 1px #C1C1C1;
  border-left: solid 2px #C1C1C1;
  border-right: solid 2px #C1C1C1;
  padding-bottom: 70px;
}
.content{
  position: relative;
  float: left;
  clear: both;
  left: 35px;
  top: 10px;
  margin-bottom: 6px;
}

.allContent{
  top: 5px;
  margin-bottom: 5px;
   border-top:1px solid white;
   border-bottom:1px solid white;
}

.scrollableContent
{
  top: 30px;
  display:none;
  overflow: hidden;
  font-family: roboto-medium;
  font-size: 14px;
  color: rgb(85, 85, 85);
  width: 100%;
  margin-bottom: 5px;
  padding-bottom: 10px;
}

.jspDrag:hover{
  background: blue;
}
 
.arrowDown{
  position: relative;
  float: right;
  width: 7px;
  top: 5px;
  -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
     
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;     
    overflow:hidden;
}

.arrowUp{
  -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg); 
    -o-transform:rotate(180deg);
}

.AccordionTitle:hover{

}
