<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <title>Exclusive Official Online Partners of Makari, Hollywood Style & Gloria Garcia</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
<tr>
<td align="center" valign="top">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">


<tr>
  <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email?
    <a href="http://img.healthkart.com/email/beauty_pc_march/emailer.html">Click here</a> to view a web version.
  </td>
</tr>


<tr>
  <td>
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="227">
          <a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0"/></a>
        </td>
        <td width="18" style="border-left: solid 1px #999999"></td>
        <td width="390" align="left" style="font-size:13px; font-weight:bold; color:#666666">
          <a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#666666; text-decoration:none">India's premier e-health store!</a>
        </td>
        <td width="39">&nbsp;</td>

        <td width="26">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5">
          <a href="http://www.healthkart.com/beauty?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/main_banner.jpg" height="217" width="700" alt="We Are Exclusive Official Online Partners of Makari, Hollywood Style & Gloria Garcia" border="0"/></a>
        </td>
      </tr>


      <tr>
        <td colspan="5" height="15"></td>
      </tr>


    </table>
  </td>
</tr>


<tr>
  <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Beauty</td>
</tr>

<tr>
  <td align="center" valign="top">
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="220" align="center" valign="top">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/hollywood-style-spiky-punk-gel/HSTYL13?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img02_a.jpg" alt="Hollywood Style Spiky Punk Gel" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/hollywood-style-spiky-punk-gel/HSTYL13?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Hollywood Style Spiky<br/>
                  &nbsp; Punk Gel</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Make your own style statement. Spike your hairdo and make heads turn this season!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/hollywood-style-spiky-punk-gel/HSTYL13?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/gloria-garcia-rosehip-oil/GLOGRC11?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img02_b.jpg" alt="Gloria Garcia RoseHip Oil" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/gloria-garcia-rosehip-oil/GLOGRC11?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Gloria Garcia RoseHip Oil</a>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Bid goodbye to dull skin. Take off years from your face and welcome youth again!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/gloria-garcia-rosehip-oil/GLOGRC11?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/makari-caviar-face-whitening-cream/MKRI07?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img02_c.jpg" alt="Makari Caviar Face Whitening Cream" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/makari-caviar-face-whitening-cream/MKRI07?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Makari Caviar Face<br/>
                  &nbsp; Whitening Cream</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Beauty secret to firmer and tighter skin. Now in a small bottle. Turn back the clock!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/makari-caviar-face-whitening-cream/MKRI07?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td height="15" style="border-bottom:dashed 1px #999999"></td>
</tr>
<tr>
  <td height="15"></td>
</tr>

<tr>
  <td align="center" valign="top">
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="220" align="center" valign="top">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/jordana-lip-out-loud-super-shiny-gloss/JRDNA14?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img01_a.jpg" alt="Jordana Lip Out Loud Super Shiny Gloss" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/jordana-lip-out-loud-super-shiny-gloss/JRDNA14?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Jordana Lip Out Loud Super<br/>
                  &nbsp; Shiny Gloss</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Pout with Lip Out! Have fun with lip shades that will simply glide to give you that sheen!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/jordana-lip-out-loud-super-shiny-gloss/JRDNA14?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/maybelline-clear-glow-bb-bright-benefit-cream/MYBLN30?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img01_b.jpg" alt="Maybelline Clear Glow BB (Bright Benefit) Cream" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/maybelline-clear-glow-bb-bright-benefit-cream/MYBLN30?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Maybelline Clear Glow BB<br/>
                  &nbsp; (Bright Benefit) Cream</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Dare to go bare! Cheat the sun while you flaunt your natural skin. Radiance you simply cant hide!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/maybelline-clear-glow-bb-bright-benefit-cream/MYBLN30?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/l-oreal-paris-super-liner-24h-water-proof-gel-liner/LOREAL20?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img01_c.jpg" alt="L'Oreal Paris Super Liner 24h Water Proof Gel Liner" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/l-oreal-paris-super-liner-24h-water-proof-gel-liner/LOREAL20?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; L'Oreal Paris Super Liner 24h<br/>
                  &nbsp; Water Proof Gel Liner</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Shine, simmer and sparkle. Let your eyes do the talking with long lasting gel liner. Hungry eyes!!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/l-oreal-paris-super-liner-24h-water-proof-gel-liner/LOREAL20?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>


<tr>
  <td height="20">&nbsp;</td>
</tr>
<tr>
  <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Personal Care</td>
</tr>
<tr>
  <td align="center" valign="top">
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="220" align="center" valign="top">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/kamasutra-honeymoon-surprise-pack/PS052?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img03_a.jpg" alt="Kamasutra Honeymoon Surprise Pack" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/kamasutra-honeymoon-surprise-pack/PS052?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Kamasutra Honeymoon<br/>
                  &nbsp; Surprise Pack</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Soar your bedroom temperature. Exciting package to re-live your romance. Re-charge!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/kamasutra-honeymoon-surprise-pack/PS052?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/karma-power-wheel-chair-kp-80.standing-chair/KARM043?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img03_b.jpg" alt="Karma Power Wheel Chair KP-80.Standing Chair" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/karma-power-wheel-chair-kp-80.standing-chair/KARM043?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Karma Power Wheel Chair<br/>
                  &nbsp; KP-80.Standing Chair</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Feel the spirit of Independence once again. Stand up with more confidence now!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/karma-power-wheel-chair-kp-80.standing-chair/KARM043?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/oral-b-electronic-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img03_c.jpg" alt="Oral-B Electronic Toothbrush" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/oral-b-electronic-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Oral-B Electronic Toothbrush</a>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Sparkling teeth now made faster. Smart way for that perfect oral care.Adieu Dentist!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/oral-b-electronic-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="15" style="border-bottom:dashed 1px #999999"></td>
</tr>
<tr>
  <td height="15"></td>
</tr>

<tr>
  <td align="center" valign="top">
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="220" align="center" valign="top">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/knockout-pepper-spray/PP002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img04_a.jpg" alt="Knockout Pepper Spray" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/knockout-pepper-spray/PP002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Knockout Pepper Spray </a>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Stalkers beware! Knockout those night out scares. Party@night starts now on!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/knockout-pepper-spray/PP002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img04_b.jpg" alt="Aassan Mobile Phone " width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Aassan Mobile Phone</a>
              </td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Communication with your grand kids is now much easier.Dial for love and talk for long!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
        <td width="20">&nbsp;</td>
        <td width="220">
          <table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
            </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td>
                <a href="http://www.healthkart.com/product/kara-sunscreen-wipes-with-plum-aloevera/PP028?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/img04_c.jpg" alt="Kara Sunscreen Wipes with Plum &amp; Aloevera" width="200" height="151" border="0"/></a>
              </td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;">
                <a href="http://www.healthkart.com/product/kara-sunscreen-wipes-with-plum-aloevera/PP028?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636; text-decoration:none;"> &nbsp; Kara Sunscreen Wipes with<br/>
                  &nbsp; Plum & Aloevera</a></td>
            </tr>
            <tr>
              <td height="10"></td>
            </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Bid goodbye to sun tan. Replenish and freshen up your skin. Skin you'd love to be in!</td>
            </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;">
                <a href="http://www.healthkart.com/product/kara-sunscreen-wipes-with-plum-aloevera/PP028?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#363636">Read more >></a>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td height="20">&nbsp;</td>
</tr>


</table>
</td>
</tr>
<tr>
  <td bgcolor="#b8b8b8" style="border-top: solid #606060 2px">
    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle">
          <a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march"><img src="http://img.healthkart.com/email/beauty_pc_march/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0"/></a>
        </td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;">
          <a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-03-19-beauty_pc_march" style="color:#606060; text-decoration:none;">www.healthkart.com</a>
        </td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px">
          <a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/beauty_pc_march/images/facebook.png" alt="facebook" width="32" height="32" border="0"/></a>
        </td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px">
          <a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/beauty_pc_march/images/twitter.png" alt="twitter" width="32" height="32" border="0"/></a>
        </td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e:
          <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444
        </td>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> *T&C apply. If you prefer not to receive HealthKart.com email,
    <a href="${unsubscribeLink}">click here to Unsubscribe</a><br/>

    Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br/>
    © 2011 HealthKart.com. All Rights Reserved.
  </td>
</tr>
</table>
</body>
</html>
