<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Vitamin Shoppe</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#e0eef7; background-image:url(http://www.healthkart.com/email/vitamin_shoppe/images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://www.healthkart.com/email/vitamin_shoppe/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#acdeff">
      <tr>
        <td colspan="3"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/header.jpg" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="23" width="20"></td>
        <td>&nbsp;</td>
        <td rowspan="23" width="20"></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.healthkart.com/brand/nutrition/vitamin+shoppe?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/vs_logo.jpg" alt="The Vitamin Shoppe" width="236" height="104" border="0" /></a></td>
      </tr>
      <tr>
        <td height="10px"></td>
        </tr>
      <tr>
        <td height="20px" align="center" valign="middle" style="font-size:20px;">The top Vitamin Company from USA <span style="font-size:30px; font-weight:bold;">Now in INDIA </span></td>
      </tr>
      <tr>
        <td height="20px"></td>
        </tr>
      <tr>
        <td><a href="http://www.healthkart.com/brand/nutrition/vitamin+shoppe?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/main_banner.jpg" alt="Answer for every body" width="610" height="331" border="0" /></a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#079fe0" style="color:#FFFFFF; font-weight:bold; font-size:16px; padding:6px;"> &nbsp; Antioxidant</td>
      </tr>
      <tr>
        <td height="5px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-grape-seed-extract-60mg/NUT1026?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img01_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-grape-seed-extract-60mg/NUT1026?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Grape Seed Extract 60mg </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Provides powerful antioxidant protection for the body, and promotes a healthy digestion</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-grape-seed-extract-60mg/NUT1026?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-pycnogenol-50mg/NUT1027?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img01_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-pycnogenol-50mg/NUT1027?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Pycnogenol<br />
                  50mg  </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Boost your immunity and guarantee better health with this herbal supplement</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-pycnogenol-50mg/NUT1027?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-coenzyme-q-10-200mg/NUT999?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img01_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-coenzyme-q-10-200mg/NUT999?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Coenzyme Q 10 200Mg </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Fulfill the necessary energy requirements in our body, thus keeping us younger &amp; fit </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-coenzyme-q-10-200mg/NUT999?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#079fe0" style="color:#FFFFFF; font-weight:bold; font-size:16px; padding:6px;"> &nbsp; Cardiovascular</td>
      </tr>
      <tr>
        <td height="5px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img02_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Lecithin Granules 97% Soy</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Get the essential fatty acids in your body with this supplement and be healthy</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-carnipure-l-cartinine-250mg/NUT1047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img02_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-carnipure-l-cartinine-250mg/NUT1047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS L-Cartinine<br />
                  250mg</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Reduce fats, remove strain. Stay fit. Works as a GTF (Glucose Tolerance Factor)</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-carnipure-l-cartinine-250mg/NUT1047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-alpha-lipolic/NUT1084?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img02_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-alpha-lipolic/NUT1084?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Alpha Lipolic <br />
                  100 mg</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Regenerate other antioxidants &amp; assists in producing energy from proteins, carbs &amp; fats</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-alpha-lipolic/NUT1084?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#079fe0" style="color:#FFFFFF; font-weight:bold; font-size:16px; padding:6px;"> &nbsp; Multi Vitamins</td>
      </tr>
      <tr>
        <td height="5px"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-man-gold-multivitamin/NUT1098?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img03_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-man-gold-multivitamin/NUT1098?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Ultimate Man Gold Multivitamin</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Ensure health inside and out, have a strong body and healthy skin! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-man-gold-multivitamin/NUT1098?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-woman-gold-multivitamin/NUT1099?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img03_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-woman-gold-multivitamin/NUT1099?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Ultimate Woman Gold Multivitamin</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Fit & active supplement just to suit the requirements of today's dynamic woman</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-ultimate-woman-gold-multivitamin/NUT1099?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1094?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img03_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1094?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Vitamin D3<br />
1000 IU</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Provides higher potency to stop bone decay &amp; increase absorption of calcium</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-lecithin-granules/NUT1094?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#079fe0" style="color:#FFFFFF; font-weight:bold; font-size:16px; padding:6px;"> &nbsp; Joint & Muscle</td>
      </tr>
      <tr>
        <td height="5px"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-shark-cartilage/NUT1057?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img04_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-shark-cartilage/NUT1057?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Shark Cartilage<br />
                750 mg</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Facilitates overall health and lends extra support to joints. Acts as an anticarcinogenic</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-shark-cartilage/NUT1057?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-glucosamine-chondroitin-with-msm/NUT1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img04_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-glucosamine-chondroitin-with-msm/NUT1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Glucosamine & Chondroitin With MSM</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Improve the health of your joints and reduce pains quickly & efficiently</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-glucosamine-chondroitin-with-msm/NUT1081?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vitamin-shoppe-vitamine-400-plus-selenium/NUT1086?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/img04_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vitamin-shoppe-vitamine-400-plus-selenium/NUT1086?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#4579a7; text-decoration:none;">VS Calcium Citrate plus Magnesium &amp; Vitamin D</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Well-absorbed calcium &amp; utilized by the body. Maintains healthy bones and teeth</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vitamin-shoppe-vitamine-400-plus-selenium/NUT1086?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #079fe0"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-06-vitamin_shoppe" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://www.healthkart.com/email/vitamin_shoppe/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #079fe0 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
