<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Dussehra Offer</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="600" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://www.healthkart.com/email/dussehra_emailer/dussehra.html">Click here</a> to view a web version.</td>

  </tr>
  
  
  
  
    <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="258"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="273" align="right" style="font-size:12px; font-weight:bold; color:#333333">Like us:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/neutrogena_emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10">&nbsp;</td>
      </tr>
    </table></td>
  </tr>
  
  
  
  
  
  <tr>
    <td><table align="center" width="500" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #d1d1d1">

      
      <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0"  style="font-size:12px; color:#363636">
          <tr>
            <td colspan="3"><img src="http://img.healthkart.com/email/dussehra_emailer/images/happy_dussehra.jpg" alt="Happy Dussehra! Get 10% Off Site Wide, Coupon code: DUS2011" width="600" height="356" /></td>
            </tr>
          <tr>
            <td width="20">&nbsp;</td>
            <td width="560">&nbsp;</td>

            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="10px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/mass-gainer-combo/NUT460?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product01.jpg" alt="Mass Gainer Combo " width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/mass-gainer-combo/NUT460?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">Mass Gainer Combo</a></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 4,698</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 3,599</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 3,239</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">This combo will give serious mass gains, and high energy for your killer workouts. With this in your gym bag, you won’t need to overeat whole foods.</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/nutrition/accessories-combos/combos?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/three-little-wonders/BTY701?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product02.jpg" alt="Three Little Wonders" width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/three-little-wonders/BTY701?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">Three Little Wonders</a> </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 2,625</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 2,200</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 1,980</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">Cleanses, tones and moisturizes your skin. Professional skin care range, with naturally derived and scientifically advanced ingredients to give your skin the most advanced care.</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/beauty/what-s-new?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/accu-chek-active-combo-for-diabetics/DC001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product03.jpg" alt="Accu-chek Active Combo for Diabetics " width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/accu-chek-active-combo-for-diabetics/DC001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">Accu-chek Active Combo for Diabetics </a></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 3,390</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 2,370</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 2,133</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">Frequent blood glucose level checks are more economical with Accu Check’s Active Combo. Long term cost is Rs 20/strip, with easy use, warranty & excellent after sales support.</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/diabetes/testing-supplies/combos?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/pigeon-baby-skincare-haircare-giftset/BAB371?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product04.jpg" alt="Pigeon Baby Skincare & Haircare Giftset " width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/pigeon-baby-skincare-haircare-giftset/BAB371?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">Pigeon Baby Skincare & Haircare Giftset </a></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 850</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 765</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 689</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">Smoothens and illuminates your natural skin tone. Vitamin E enriched light formula nourishes your skin and keeps it fresh. Easy to use, with instant effect!</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/baby/what-s-new/gift-pack?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/vlcc-diamond-polishing-facial-kit/BTY550?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product05.jpg" alt="VLCC Diamond Polishing Facial Kit " width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/vlcc-diamond-polishing-facial-kit/BTY550?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">VLCC Diamond Polishing Facial Kit </a></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 1,500</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 1,245</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 1,120</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">VLCC Diamond Facial detoxifies & brightens your skin, giving it a fresh, young and radiant look. Contains 6 sachets, of diamond scrub, detox lotion, massage gel & wash-off mask. </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/beauty/what-s-new/discounts?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="30">&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td><table width="560" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="9" align="left" valign="top" width="165"><a href="http://www.healthkart.com/product/omron-hem-7111-one-touch-ultra-2-meter/CO001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer"><img src="http://img.healthkart.com/email/dussehra_emailer/images/product06.jpg" alt="Omron HEM-7111 &amp; One Touch Ultra 2 Meter " width="165" height="150" border="0" /></a></td>
                <td width="15" rowspan="9">&nbsp;</td>
                <td width="15" rowspan="9" style="border-left:#d1d1d1 solid 1px">&nbsp;</td>
                <td width="364" style="font-size:16px; font-weight:bold;"><a href="http://www.healthkart.com/product/omron-hem-7111-one-touch-ultra-2-meter/CO001?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer" style="color:#363636; text-decoration:none">Omron HEM-7111 & One Touch Ultra 2 Meter </a></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td>MRP <span style="text-decoration:line-through">Rs. 4,970</span> &nbsp; &nbsp;| &nbsp;&nbsp;<strong> Our Price Rs. 2,982</strong></td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#FF0000">Dussehra Special Price Rs. 2,684</td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td style="font-size:11px;">Daily blood pressure and blood glucose monitoring is now easier and more economical. Benefit from warranties, excellent after sales support and long term savings for frequent use. </td>
              </tr>
              <tr>
                <td height="10"></td>
              </tr>
              <tr>
                <td align="right" style="font-size:11px; font-style:italic; color:#666666"><a href="http://www.healthkart.com/home-devices/blood-pressure/combo?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-04-dus-emailer">See more offers</a></td>
              </tr>
            </table></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="20">&nbsp;</td>
            <td>&nbsp;</td>

            <td>&nbsp;</td>
          </tr>
          <tr>
            <td height="10 px" colspan="3"></td>
            </tr>
          <tr>
            <td>&nbsp;</td>
            <td height="60" style="font-size:14px; text-align:center; color:#3379bb; font-weight:bold; text-transform:uppercase; border:solid 2px #f87500">Our customer support is now available 7 days a week<br />
from 9:30 AM to 9:00 PM<br/><br/>
              New customer service number : 0124-4616444
            </td>

            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="20px">&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3">                        </td>
          </tr>
        
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></p>
          </td>
      </tr>
    </table></td>
  </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
  
  
  

</table>
</body>
</html>
