<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Freebies worth Rs. 3500 with only 100 Andis Trimmers</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/andis_emailer/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="227"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0" /></a></td>
        <td width="18" style="border-left: solid 1px #999999"></td>
        <td width="390" align="left" style="font-size:13px; font-weight:bold; color:#666666"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#666666; text-decoration:none">India's premier e-health store!</a></td>
        <td width="39">&nbsp;</td>

        <td width="26">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5"><a href="http://www.healthkart.com/beauty/men/shaving?startRange=4999&utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/main_banner.jpg" alt="Buy Andis trimmers and get curling rod or starightening iron FREE!!!" border="0" /></a></td>
      </tr>
 
      
      <tr>
        <td colspan="5" height="15"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
     <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Andis Offer</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/andis-d3t-cordless-rechargeable-t-edger-trimmer/ANDIS5?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img01_a.jpg" alt="Andis D3T Cordless Rechargeable T-Edger Trimmer " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="25" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/andis-d3t-cordless-rechargeable-t-edger-trimmer/ANDIS5?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Andis D3T Trimmer</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">No scratch! no mess! Trim away stubble in a flash. Simply easy.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/andis-d4d-2-in-1-cordless-trimmer-and-clipper/ANDIS6?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img01_b.jpg" alt="Andis D4D 2-in-1 Cordless Trimmer and Clipper" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="25" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/andis-d4d-2-in-1-cordless-trimmer-and-clipper/ANDIS6?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Andis D4D Trimmer</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Make your morning shave heavenly! Clip or trim. Admiration guaranteed.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/andis-rt1-t-blade-rotary-motor-superliner-trimmer/ANDIS7?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img01_c.jpg" alt="Andis RT1 T-Blade Rotary Motor Superliner Trimmer" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="25" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/andis-rt1-t-blade-rotary-motor-superliner-trimmer/ANDIS7?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Andis RT1 Trimmer</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Look different daily with unique styling options. So much in one!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/andis-racd-high-torque-detachable-blade-rotary-motor-clipper/ANDIS8?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img01_d.jpg" alt="Andis RACD High-Torque Detachable Blade Rotary Motor Clipper" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="25" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/andis-racd-high-torque-detachable-blade-rotary-motor-clipper/ANDIS8?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Andis RACD Clipper</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Look great from head to toe. Travel with your complete maintenance kit!</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="30" style="color:#FF0000; font-weight:bold; font-size:13px;">1. Buy Andis D3T or Andis D4D and get Andis Curved Edge Proffessional Heat Flat Iron worth Rs.3500 FREE!!</td>
    </tr>
    <tr>
      <td height="30"><span style="color:#FF0000; font-weight:bold; font-size:13px;">2. Buy Andis RT1 or Andis RACD and get Andis High Heat Curling Rod worth Rs.3500 FREE!!</span></td>
    </tr>
    <tr>
      <td height="10"></td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;New Brand: Divo</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/divo-eterna-paddle-brush/DIVO1?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img02_a.jpg" alt="Divo Eterna Paddle Brush" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/divo-eterna-paddle-brush/DIVO1?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Divo Eterna Paddle<br />
 &nbsp; Brush</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Massage scalp while you brush away tangled stresses. Two in one!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/divo-salonica-wood-professional-pneumatic-brush-small/DIVO9?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img02_b.jpg" alt="Divo Salonica Wood Professional Pneumatic Brush Small" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/divo-salonica-wood-professional-pneumatic-brush-small/DIVO9?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Divo Pneumatic Brush<br />
 &nbsp; Small</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">No more pulling or breaking your hair! Leave behind hair worries.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/divo-eterna-double-faced-mirror/DIVO14?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img02_c.jpg" alt="Divo Eterna Double Faced Mirror " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/divo-eterna-double-faced-mirror/DIVO14?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Divo Eterna Double<br />
 &nbsp; Faced Mirror </a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Look into your own eyes..More deeply. Loving yourself?</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/divo-bris-clean-brush-cleaner/DIVO12?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img02_d.jpg" alt="Divo Bris Clean Brush Cleaner" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/divo-bris-clean-brush-cleaner/DIVO12?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Divo Bris Clean Brush<br />
 &nbsp; Cleaner</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Let your hair shine with happiness.Watch them bounce and flow!</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Top Selling Products</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td colspan="7" height="10"></td>
    </tr>
  <tr>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/philips-hp4940-hair-dryer/PHILI15?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img03_a.jpg" alt="Philips HP4940 Hair Dryer " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/philips-hp4940-hair-dryer/PHILI15?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Philips HP4940 Hair<br />
 &nbsp; Dryer </a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Running late for a party? Get ready at home and make heads turn.</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/lord-berry-eyeshadow-brush-816/LBDR16?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img03_b.jpg" alt="Lord & Berry Eyeshadow Brush 816" width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/lord-berry-eyeshadow-brush-816/LBDR16?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Lord & Berry<br />
 &nbsp; Eyeshadow Brush 816</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Get the look with a simply flattering finish. Flatter people with your gaze!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/braun-silk-epil-3-soft-perfection-epilator-se3170/BTY780?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img03_c.jpg" alt="Braun Silk Epil 3 Soft Perfection Epilator SE3170 " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/braun-silk-epil-3-soft-perfection-epilator-se3170/BTY780?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Braun Silk Epilator<br />
 &nbsp; SE3170 </a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Get smooth skin without any mess. Side effects clinging boyfriend!!</td>
      </tr>
    </table></td>
    <td width="20">&nbsp;</td>
    <td width="160"><table width="160" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td><a href="http://www.healthkart.com/product/senera-plus-earlift-invisible-ear-lobe-support-solution/SENRA1?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/img03_d.jpg" alt="EarLift Invisible Ear Lobe Support Solution " width="160" height="140" border="0" /></a></td>
      </tr>
      <tr>
        <td bgcolor="#d6d6d6" height="45" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/senera-plus-earlift-invisible-ear-lobe-support-solution/SENRA1?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#363636; text-decoration:none;"> &nbsp; EarLift Invisible Ear<br />
 &nbsp; Lobe Support Solution</a></td>
      </tr>
      <tr>
        <td height="60" style="color:#363636; font-size:12px;">Heal your ears while your flaunt your earrings. No more pain!</td>
      </tr>
    </table></td>
  </tr>
  
</table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
</table></td>
  </tr>
  <tr>
    <td  bgcolor="#b8b8b8" style="border-top: solid #606060 2px"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer"><img src="http://img.healthkart.com/email/andis_emailer/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-20-andis_emailer" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/andis_emailer/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/andis_emailer/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
