<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Introducing new range of fitness accessories.</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#eeeeee">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/fitness_emailer/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="258"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0" /></a></td>
        <td width="273" align="right" style="font-size:12px; font-weight:bold; color:#333333">Spread the word:</td>
        <td width="7">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/fitness_emailer/images/facebook.png" alt="Facebook" width="32" height="32" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/fitness_emailer/images/twitter.png" alt="Twitter" width="32" height="32" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5"><a href="http://www.healthkart.com/nutrition/fitness-accessories?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/main_banner.jpg" alt="Introducing new range of fitness accessories." border="0" /></a></td>
      </tr>
 
      
      <tr>
        <td colspan="5" height="15"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
     <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Abs/Core</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tunturi-pilates-kit/SPT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img01_a.jpg" alt="Tunturi Pilates Kit" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tunturi-pilates-kit/SPT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Tunturi Pilates Kit</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Sculpt your body and strengthen your core. Complete kit for mind, body and soul!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tunturi-pilates-kit/SPT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tunturi-training-mat/SPT016?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img01_b.jpg" alt="Tunturi Training Mat" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tunturi-training-mat/SPT016?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Tunturi Training Mat</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Tone up with the light weight mat with impeccable grip. Pilate or Yoga choose your pick!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tunturi-training-mat/SPT016?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/celebrate-life-anti-burst-gym-ball/SPT022?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img01_c.jpg" alt="Celebrate Life Anti-Burst Gym Ball" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/celebrate-life-anti-burst-gym-ball/SPT022?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Celebrate Life Anti-Burst<br />
 &nbsp; Gym Ball</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Build your core and ab muscles. Balance and improve core strength at the same time!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/celebrate-life-anti-burst-gym-ball/SPT022?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Muscle Toning /Building</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/trx-pro-pack-2/SPT026?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img02_a.jpg" alt="TRX Pro Kit" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/trx-pro-pack-2/SPT026?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; TRX Pro Kit</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Boost your fitness with up to 300+ exercises you can do anywhere. Complete training system!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/trx-pro-pack-2/SPT026?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/push-up-bar-lion/SPT038?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img02_b.jpg" alt="Push-up Bar Lion" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/push-up-bar-lion/SPT038?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Push-up Bar Lion</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Tone your chest, back and triceps while strengthening your core muscles. Good bye stubborn fat!!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/push-up-bar-lion/SPT038?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tunturi-doorway-chinning-bar/SPT010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img02_c.jpg" alt="Tunturi Doorway Chinning Bar" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tunturi-doorway-chinning-bar/SPT010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Tunturi Doorway Chinning<br />
 &nbsp; Bar </a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Chin up, pull up, push up and dip. Do your thing…Go your way to tone up your body!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tunturi-doorway-chinning-bar/SPT010?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td height="20">&nbsp;</td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#363636" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Accessories</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/harbinger-pro-leather-gloves/SPT025?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img03_a.jpg" alt="Harbinger Pro Leather Gloves" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/harbinger-pro-leather-gloves/SPT025?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Harbinger Pro Leather<br />
 &nbsp; Gloves</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Get a grip! Now with optimal comfort you can maintain a proper positioning of the wrist.</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/harbinger-pro-leather-gloves/SPT025?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tunturi-arm-leg-weights/SPT005?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img03_b.jpg" alt="Tunturi Arm/Leg Weights" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tunturi-arm-leg-weights/SPT005?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Tunturi Arm/Leg Weights</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Make your training sessions more effective with strength training your arms and legs!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tunturi-arm-leg-weights/SPT005?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/tunturi-wrist-weights/SPT007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"><img src="http://img.healthkart.com/email/fitness_emailer/images/img03_c.jpg" alt="Tunturi Arm/Leg Weights" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td bgcolor="#dbdbdb" height="40" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/tunturi-wrist-weights/SPT007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636; text-decoration:none;"> &nbsp; Tunturi Wrist Weights</a></td>
              </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td style="color:#363636; font-size:12px; line-height:1.5em">Pair up with just the right weights. Add resistance on your wrist with comfort!</td>
              </tr>
            <tr>
              <td height="30" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/tunturi-wrist-weights/SPT007?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer" style="color:#363636">Read more >></a></td>
              </tr>
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">Website: <a href="www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-05-fitness_emailer"  style="color:#FFFFFF;">www.healthkart.com</a>  &nbsp;|  &nbsp;E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>&nbsp;  |&nbsp;  Telephone: +91 124 4616444</span></p>          </td>
      </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
