<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Upto 65% off on elderly care products</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0" align="center" style="font-size:13px; color:#666666">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/elder_emailer/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0" style="color:#363636">
      <tr>
        <td width="227"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/logo.png" alt="HealthKart.com Logo" width="207" height="30" border="0" /></a></td>
        <td width="18" style="border-left: solid 1px #999999"></td>
        <td width="390" align="left" style="font-size:13px; font-weight:bold; color:#666666"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#666666; text-decoration:none">India's premier e-health store!</a></td>
        <td width="39">&nbsp;</td>

        <td width="26">&nbsp;</td>
      </tr>
      <tr>
        <td colspan="5" height="15"></td>
      </tr>
      <tr>
        <td height="875" colspan="5" align="left" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="226"><a href="http://www.healthkart.com/personal-care/elderly-care?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/main_banner.jpg" width="226" height="888" border="0" /></a></td>
    <td width="17">&nbsp;</td>
    <td align="left" valign="top"><table width="457" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="left" valign="top" style="font-weight:bold; font-size:18px; color:#795e42;">Super Grandparents - All set to live better</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
      <tr>
        <td width="460" align="left" valign="top" style="line-height:1.3em;">Too old to do nothing or too young to start it all over! 
              Leave your age behind and begin life with a fresh start today! Browse through amazing products to make your life easy, fun and independent. Show your children the way to live by being trendy and updated. You never know, you can be the next trend setter. Live life to the fullest after your retiring age!</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" bgcolor="#795e42" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Best Selling</td>
      </tr>
      <tr>
        <td><table width="457" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/friends-adult-diapers/PA012?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img01_a.jpg" alt="Friends Adult Diapers" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/friends-adult-diapers/PA012?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Friends Adult Diapers</a></td>
              </tr>
            
          </table></td>
                <td width="17">&nbsp;</td>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/omron-bp-monitor-upper-arm-hem-7111/HB004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img01_b.jpg" alt="Omron BP Monitor Upper Arm (HEM-7111)" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/omron-bp-monitor-upper-arm-hem-7111/HB004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Omron BP Monitor Upper Arm<br />
(HEM-7111)</a></td>
              </tr>
            
          </table></td>
              </tr>
            </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" bgcolor="#795e42" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Top Deals</td>
      </tr>
      <tr>
        <td><table width="457" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/wheel-chair-802/WA028?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img02_a.jpg" alt="Wheel Chair ( 802 )" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/wheel-chair-802/WA028?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Wheel Chair (802)</a></td>
              </tr>
            
          </table></td>
                <td width="17">&nbsp;</td>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/folding-walker-adj-height-with-front-wheels/WA005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img02_b.jpg" alt="Folding Walker Adj Height with front Wheels" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/folding-walker-adj-height-with-front-wheels/WA005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Folding Walker Adj Height with front Wheels</a></td>
              </tr>
            
          </table></td>
              </tr>
            </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="30" align="left" valign="middle" bgcolor="#795e42" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Recently Added</td>
      </tr>
      <tr>
        <td><table width="457" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img03_a.jpg" alt="Aassan - Mobile Phone for Elderly" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Aassan - Mobile Phone for Elderly</a></td>
              </tr>
            
          </table></td>
                <td width="17">&nbsp;</td>
                <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/hot-water-bottle-with-criss-cross-knitted-cover/HEA004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img03_b.jpg" alt="Hot Water Bottle with Criss-Cross Knitted Cover" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="40" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/hot-water-bottle-with-criss-cross-knitted-cover/HEA004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Hot Water Bottle with<br />
Criss-Cross Knitted Cover</a></td>
              </tr>
            
          </table></td>
              </tr>
            </table></td>
      </tr>

    </table></td>
  </tr>
</table></td>
      </tr>
 
      
      <tr>
        <td colspan="5" height="2"></td>
      </tr>
      
      
    </table></td>
  </tr>
    <tr>
      <td height="15" align="left" valign="middle" ></td>
    </tr>
    <tr>
      <td height="30" align="left" valign="middle" bgcolor="#795e42" style="font-size:15px; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;Other Products in Elderly Care</td>
    </tr>
    <tr>
      <td align="center" valign="top"><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="220" align="center" valign="top"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/health-aid-osteoflex/NUT534?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img04_a.jpg" alt="Health Aid Osteoflex" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="30" align="left" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/health-aid-osteoflex/NUT534?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Health Aid Osteoflex</a></td>
              </tr>
            
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/personal-care/elderly-care/orthopedic-care?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img04_b.jpg" alt="Orthopedic Care" width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="30" align="left" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/personal-care/elderly-care/orthopedic-care?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Orthopedic Care</a></td>
              </tr>
            
          </table></td>
          <td width="20">&nbsp;</td>
          <td width="220"><table bgcolor="#FFFFFF" width="220" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td colspan="3" height="10"></td>
              </tr>
            <tr>
              <td rowspan="6" width="10">&nbsp;</td>
              <td><a href="http://www.healthkart.com/product/hearing-aid-113-a/CLSUP003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/img04_c.jpg" alt="Hearing Aid 113-A " width="200" height="151" border="0" /></a></td>
              <td rowspan="6" width="10">&nbsp;</td>
            </tr>
            <tr>
              <td height="10"></td>
              </tr>
            <tr>
              <td height="30" align="left" valign="top" style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/hearing-aid-113-a/CLSUP003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#363636; text-decoration:none;">Hearing Aid 113-A </a></td>
              </tr>
            
          </table></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
</table></td>
  </tr>
  <tr>
    <td  bgcolor="#b8b8b8" style="border-top: solid #606060 2px"><table width="700" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com/?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer"><img src="http://img.healthkart.com/email/elder_emailer/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-01-10-elder_emailer" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/elder_emailer/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/elder_emailer/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
