<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HealthKart.com wishes you a healthy & happy 2012!</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f2f2ee;">
<table width="100%" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center" valign="middle" style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/new_year_emailer/emailer.html">Click here</a> to view a web version.</td>
      </tr>
      <tr>
        <td><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-28-new_year_emailer"><img src="http://img.healthkart.com/email/new_year_emailer/images/main_banner.jpg" alt="A heartfelt thank you for being with us this year" width="600" height="512" border="0" /></a></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="600" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="275" align="left" valign="top"><table width="275" border="0" cellspacing="0" cellpadding="0" style="color:#36498f; font-size:13px;">
              <tr>
                <td colspan="3"><img src="http://img.healthkart.com/email/new_year_emailer/images/2011_was.jpg" alt="2011 was..." width="275" height="58" /></td>
                </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Thousands of satisfied customers</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Added hundreds of brands in health</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Great prices and deals</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Fast shipping</td>
              </tr>

            </table></td>
            <td align="center" valign="top"><img src="http://img.healthkart.com/email/new_year_emailer/images/line_divider.jpg" width="9" height="216" /></td>
            <td width="275" align="left" valign="top"><table width="275" border="0" cellspacing="0" cellpadding="0" style="color:#36498f; font-size:13px;">
              <tr>
                <td colspan="3"><img src="http://img.healthkart.com/email/new_year_emailer/images/2012_will.jpg" alt="2012 will be..." width="275" height="58" /></td>
                </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Millions of satisfied customers</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">The one-stop shop for everything health</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Even better prices and awesome deals</td>
              </tr>
              <tr>
                <td width="19" height="40" align="left" valign="middle"><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
                <td width="10">&nbsp;</td>
                <td width="246">Same day shipping</td>
              </tr>

            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td align="center" valign="middle" style="color:#36498f; font-size:16px;" ><img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /> &nbsp; And one thing will remain the same...<br />

Tirelessly working customer service team &nbsp; <img src="http://img.healthkart.com/email/new_year_emailer/images/smiley.jpg" width="19" height="19" /></td>
      </tr>
      <tr>
        <td height="15">&nbsp;</td>
      </tr>
      <tr>
        <td align="center"><img src="http://img.healthkart.com/email/new_year_emailer/images/discount_img.jpg" alt="A new year's gift from team HealthKart -12% off* site-wide" width="600" height="68" border="0" /></td>
      </tr>
      <tr>
        <td height="25" align="center" valign="middle" style="color:#606060; font-size:11px;"> *Offer valid till 31st, December, 2011 midnight</td>
      </tr>
      <tr>
        <td height="10"></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td  bgcolor="#b8b8b8" style="border-top: solid #606060 2px"><table width="600" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-28-new_year_emailer"><img src="http://img.healthkart.com/email/new_year_emailer/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="409" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-12-28-new_year_emailer" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="105" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="43" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/new_year_emailer/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="43" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/new_year_emailer/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="border-top: solid #FFFFFF 2px; font-size:11px; text-align:center; color:#929292; padding:10px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
