<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Now buy prescription glasses fitted with premium quality</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#e1f0f7; background-image:url(http://img.healthkart.com/email/eye_june/images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/eye_june/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#acdeff">
      <tr>
        <td colspan="3"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/header.jpg" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="18" width="20"></td>
        <td>&nbsp;</td>
        <td rowspan="18" width="20"></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.healthkart.com/eye/eyeglasses?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/main_banner.jpg" alt="Now buy prescription glasses fitted with premium quality" width="610" height="230" border="0" /></a></td>
      </tr>
      
      
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td bgcolor="#079fe0" style="color:#ffffff; padding:5px 10px; font-size:16px;">Frames</td>
      </tr>
      <tr>
        <td height="10px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/vittorio-v138-m04/EYE581?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img01_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/vittorio-v138-m04/EYE581?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">Vittorio V138 M04 </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Super Luxuriant style to suit your elegant self. Best Vision, guranteed.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/vittorio-v138-m04/EYE581?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/v185-a06/EYE594?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img01_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/v185-a06/EYE594?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">Vittorio V185 A06</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Panache unlimited! Get that classy look with unparalleled eyesight. </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/v185-a06/EYE594?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/dw-5200-c2/EYE744?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img01_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/dw-5200-c2/EYE744?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">DW 5200 C2</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">The vintage look is again back on track. Look clearly, look elegant! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/dw-5200-c2/EYE744?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td bgcolor="#079fe0" style="color:#ffffff; padding:5px 10px; font-size:16px;">Sunglasses</td>
      </tr>
      
      <tr>
        <td height="10px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/reebok/EYE583?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img02_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/reebok/EYE583?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">Reebok</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Aviators never go out of style. Reebok brings you these unmatched sunglasses.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/reebok/EYE583?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/tnf/EYE584?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img02_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/tnf/EYE584?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">TnF </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Who said Violet is the lady's color? Can anything get more macho than this?</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/tnf/EYE584?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/mtv-ai007-c205/EYE622?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img02_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/mtv-ai007-c205/EYE622?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">MTV AI007 C205</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Fight the conspicuous heat with ultimate style. Classic Aviators for classy you!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/mtv-ai007-c205/EYE622?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td bgcolor="#079fe0" style="color:#ffffff; padding:5px 10px; font-size:16px;">Lenses</td>
      </tr>
      
      <tr>
        <td height="10px"></td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/pv2-for-astigmatism/EYE484?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img03_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/pv2-for-astigmatism/EYE484?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">PV2 for Astigmatism </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Enjoy perfect vision and heightened comfort. Keep your eyes well prtected.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/pv2-for-astigmatism/EYE484?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/prosthetic-lens/EYE764?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img03_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/prosthetic-lens/EYE764?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">Prosthetic Lens</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Live your liife free from tht embarrassment of eye problems and infection.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/prosthetic-lens/EYE764?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/soflens-daily-90/EYE315?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/img03_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/soflens-daily-90/EYE315?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#4579a7; text-decoration:none;">Soflens Daily 90</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Make sure that you change your lenses everyday, and keep eye infections at bay! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/soflens-daily-90/EYE315?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="610" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="225" rowspan="3"><a href="http://www.healthkart.com/pages/lp/eye_glasses/choosing-eye-glasses.html?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/frame_chart.jpg" alt="Frame Size Chart" width="225" height="231" border="0" /></a></td>
            <td>&nbsp;</td>
            <td width="39" height="30px" align="left" valign="middle" bgcolor="#079fe0" ><img src="http://img.healthkart.com/email/eye_june/images/tip_icon.jpg" width="30" height="36" /></td>
            <td width="331" align="left" valign="middle" bgcolor="#079fe0" ><span style="color:#ffffff; font-size:16px; font-weight:bold; padding-bottom:5px;">Did you know?</span></td>
          </tr>
          <tr>
            <td></td>
            <td height="10px" colspan="2"></td>
          </tr>
          <tr>
            <td width="15">&nbsp;</td>
            <td colspan="2" align="left" valign="top" style="font-size:12px; line-height:1.5em; ">
           The Model number mentioned in the size of frame   indicates different parts of frame measurement. First of the series   indicates your eye size, second the bridge size and third indicates   Temple size. <br />
For instance, if model no. is 54-20-140, then eye size is 54, bridge size is 20 and temple length is 140 (in mm).</td>
          </tr>
          
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #079fe0"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june"><img src="http://img.healthkart.com/email/eye_june/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-20-eye_june" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/eye_june/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/eye_june/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #079fe0 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
