<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
 <HEAD>
  <TITLE> Single sign on demo</TITLE>
  
 </HEAD>
 <div align="center" style="margin-top: 150px;margin-right: 100px;margin-left: 100px;">
<FORM action="/login/auth" method="post">
    <P>
    <LABEL for="user name">User Name: </LABEL>
              <INPUT type="text" name="userName" size="50"><BR>
    <LABEL for="password">Password: </LABEL>
              <INPUT type="password" name="password" size="50"><BR>
  
    <INPUT type="submit" value="login">
    <INPUT type="hidden" name="apiKey" value="healthkartplus">  
    
    <INPUT type="reset">
    </P>
 </FORM>
 </div>
 <BODY>
  
 </BODY>
</HTML>
