<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Introducing Fertility Products</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f5f5f5; background-image:url(images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/fertility_june/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#acdeff">
      <tr>
        <td colspan="3"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/header.jpg" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="16" width="20"></td>
        <td>&nbsp;</td>
        <td rowspan="16" width="20"></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.healthkart.com/personal-care/sexual-care/fertility?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/main_banner.jpg" alt="Introducing a whole new range of fertility products " width="610" height="230" border="0" /></a></td>
      </tr>
      
      
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td  bgcolor="#079fe0" style="color:#ffffff; padding:5px 10px; font-size:16px;"><strong>FACTS ABOUT INFERTILITY</strong></td>
      </tr>
      <tr>
        <td height="10px"></td>
      </tr>
      <tr>
        <td style="font-size:13px;"><strong>Infertility</strong> is one's inability to conceive a child despite aggressive effort. According to reports, around 100 million couples worldwide want to have a child, of which 17% experience trouble in the same.
            <br />
            Couples in the age group 20-33 have about 20-25% chance of conceiving a child. These chances decrease with age.          <p><strong>Infertility</strong> can arise due to equal probability of problems with both genders.<br />
            In women, imbalance of sex hormones cause infertility. It is known as PCOS.<br />
            Endometriosis is also one condition in women which makes cells from uterus grow in other areas of body, thus creating irregular bleeding, and hindering conception.<br />
            In men, Oligiospermia is a condition where semen has low sperm concentration and azoospermia is a condition where men face ejaculation disorders.<br />
            <strong>Healthkart</strong> brings to you some exclusive supplements which boost fertility and increase chances of conception manifold by addressing fertility problems in both women & men.</p></td>
      </tr>
      <tr>
        <td height="5px"></td>
      </tr>
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/pre-seed-sperm-friendly-lubricant/FER010?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img03_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/pre-seed-sperm-friendly-lubricant/FER010?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Pre-seed Sperm Friendly Lubricant </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">This safe and 'sperm-friendly' lubricant is sure to remove the problem of vaginal dryness and pelvic pains.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/pre-seed-sperm-friendly-lubricant/FER010?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/fertilaid-for-men/FER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img01_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/fertilaid-for-men/FER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Fertilaid for Men</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Increase your sperm count significantly with the help of this supplement. Use this doctor approved formula for guaranteed potency. </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/fertilaid-for-men/FER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/countboost/FER003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img01_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/countboost/FER003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Countboost</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Embarrassed of low sperm count? A non-prescription diet supplement suitable in increasing sperm-count successfully.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/countboost/FER003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/motility-boost/FER004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img02_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/motility-boost/FER004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Motility Boost</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Boost your fertility factor with this non-prescriptive supplement. A perfect accompany to fertilaid in increasing sperm motility. </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/motility-boost/FER004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/fertilcm/FER005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img02_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/fertilcm/FER005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">FertilCM</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Provide a healthy environment to the sperm till it reaches ovaries. Now you can Increase chances of conceiving manifold.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/fertilcm/FER005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/fertile-detox/FER006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img02_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/fertile-detox/FER006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Fertile Detox</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Remove those harmful toxins and chemicals that pose a barrier to you conceiving. Try and be more reproductively healthy.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/fertile-detox/FER006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/fertilaid-for-women/FER001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img01_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/fertilaid-for-women/FER001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Fertilaid for Women</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Bid adieu to the problems of conceiving with Fertilaid for women. This herbal formula increases the chances of pregnancy manifold.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/fertilaid-for-women/FER001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/spermcheck-fertility/FER011?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img03_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/spermcheck-fertility/FER011?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Fair Havens Spermcheck Fertility</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Learn more about your sperm-count with the accuracy of labs, in the confinement and privacy of your home.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/spermcheck-fertility/FER011?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/instant-ovulation-test/PW006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/img03_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/instant-ovulation-test/PW006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#4579a7; text-decoration:none;">Instant Ovulation 
                  Test</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Get accurate results for your menstrual cycle in just 2 minutes! You will definitely know when is the next cycle due.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/instant-ovulation-test/PW006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      
      

    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #079fe0"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june"><img src="http://img.healthkart.com/email/fertility_june/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-06-26-fertility_june" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/fertility_june/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/fertility_june/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #079fe0 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
