<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Celebrating Mother's Day</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f5f5f5; background-image:url(images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#000000; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/mothers_day/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#ffbdcc">
      <tr>
        <td colspan="3" bgcolor="#F1F1F1"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/header.jpg" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="13" width="20px"></td>
        <td height="20px"></td>
        <td rowspan="13" width="20px"></td>
      </tr>
      <tr>
        <td align="center" valign="top"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/main_banner.jpg" alt="Celebrating Mother's Day" width="610" height="235" border="0" /></a></td>
        </tr>
      <tr>
        <td height="20px"></td>
      </tr>
      <tr>
        <td height="20px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.healthkart.com/product/mother-s-day-special/NUTCMB990?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/small_banner03.jpg" alt="Mother's Day Special" width="295" height="190" border="0" /></a></td>
            <td width="20px"></td>
            <td><a href="http://www.healthkart.com/product/mother-s-day-care-combo/NUTCMB988?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/small_banner04.jpg" alt="Mother's Day Care Combo" width="295" height="190" border="0" /></a></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB01?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img01_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB01?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Extremely Pretty Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Perfect gift for the pretty mother, who cares more for her kids than for her looks!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB01?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB02?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img01_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB02?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Cost Conscious Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Now you don't have to cajole Mommy for a spa visit. Just gift her this beauty parlour!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB02?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img01_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Sati-Savitri Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Delight her Divinity with the natural goodness of Fab India & Khadi!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/heavenly-beauty-combo/CMBB03?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/beurer-mini-massager-mg16/BEU056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img02_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/beurer-mini-massager-mg16/BEU056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Hardworking Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Give your mom the perfect gift for her aches and pains - a cute portable massager, made in Germany!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/beurer-mini-massager-mg16/BEU056?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/actipatch-back-pain-relief-treatment/JUNO001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img02_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/actipatch-back-pain-relief-treatment/JUNO001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Painstaking Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Help your Mom overcome nagging back ache with a therapy that will regenerate her injured cells/tissues.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/actipatch-back-pain-relief-treatment/JUNO001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/touch-th50006-c6/EYE604?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img02_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/touch-th50006-c6/EYE604?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">For Mom. 007 Mom.</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">The perfect gift for the Mom who knows every thing and is always watching you. Now she will be cooler than you.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/touch-th50006-c6/EYE604?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/casper-3-in-alarm/COP003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img03_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/casper-3-in-alarm/COP003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">Travelling Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Mom won't have to worry about luggage safety when she travels. This baggage alarm will take care of everything!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/casper-3-in-alarm/COP003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/moov-ortho-heat-belt/OH089?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img03_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/moov-ortho-heat-belt/OH089?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">I-Hate-Backache Mom</a></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;"><p>Gift your mom immediate relief from back aches, with this electric heating pad. Hassle free & burn risk free!</p>
                  </td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/moov-ortho-heat-belt/OH089?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #fa85a0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/thyrocare-test%3A-basic-metabolic-profile-44-parameters/SER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/img03_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/thyrocare-test%3A-basic-metabolic-profile-44-parameters/SER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#4579a7; text-decoration:none;">The Time Crunch Mom</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">The best health checkup for your Mother! Give samples at home & get results delivered! No time wasted.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/thyrocare-test%3A-basic-metabolic-profile-44-parameters/SER002?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
    </table>
    </td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #fa85a0"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day"><img src="http://img.healthkart.com/email/mothers_day/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-09-mothers_day" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/mothers_day/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/mothers_day/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #fa85a0 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
