body			{ 
				margin:15px 0px 0px 0px; 
				font-family:Arial, Helvetica, sans-serif; 
				font-size:13px; 
				line-height:23px; 
				}
				
p				{ 
				margin:0px;
				}
				
				
.nRow			
				{ 
				width:100%; 
				clear:both;
				}

.dHeight1		
				{ 
				height:10px;
				}
				
.cl				{ 
				clear:both;
				}

#container		{ 
				clear:both; 
				width:950px; 
				margin:0 auto; 
				text-align:left;
				}
							
				
				
.eyePgBlueBx h1		{ 
				margin:0px 0px 5px 0px; 
				padding:0px; 
				font-family:Arial, Helvetica, sans-serif; 
			  	font-size:26px; 
				line-height:26px; 
				font-weight:normal;
				color:#fff;
				}
				
.eyePgBlueBx p	{ 
				font-size:15px; line-height:21px; color:#fff; font-family:Arial, Helvetica, sans-serif;	
				}				
				
						
.eyeComboLeftBar				{ 
								width:190px; 
								float:left;
								}
								
.eyeComboLeftBar h5				{ 
								background:#dddddd; 
								margin:0px; 
								padding:5px 5px 4px 10px; 
								font-family:Arial, Helvetica, sans-serif; 
								font-size:15px; 
								font-weight:bold;
								}
								
.eyeComboLeftBar ul				{ 
								margin:0px; 
								padding:5px 0px 5px 30px; 
								list-style-type:none;
								}
								
.eyeComboLeftBar ul li			{ 
								font-size:13px; 
								color:#444; 
								line-height:16px; 
								font-weight:normal; 
								padding-bottom:5px;
								}
								
.eyeComboLeftBar ul li a		{ 
								color:#444; 
								border-bottom:1px solid #eeeeff; 
								padding-bottom:2px; 
								text-decoration:none; 
								}
								
.eyeComboLeftBar ul li a:hover	{ 
								border-bottom:1px solid #000066; 
								text-decoration:none; 
								color:#444;
								}
								
.eyeComboRightBar				{ 
								width:750px; 
								float:left; 
								padding-left:10px;
								}
								
.comboBxs						{ 
								width:240px; 
								float:left; 
								margin-right:10px; 
								text-align:center; 
								height:300px;
								}
								
.comboBxs img					{ 
								border:none; 
								outline:none;
								}
								
.comboBxs p.img					{ 
								height:160px; 
								text-align:center;
								}
								
.comboBxs a.proName				{ 
								text-align:center; 
								color:#222288; 
								font-size:12px; 
								line-height:15px; 
								text-decoration:none; 
								border-bottom:1px solid #eeeeff;
								}
								
.comboBxs a.proName:hover		{ 
								text-decoration:none; 
								border-bottom:1px solid #000; 
								color:#000066;
								}
								
.comboBxs p.Price				{ 
								text-align:center; 
								font-size:12px; 
								color:#009900; 
								font-family:Georgia, "Times New Roman", Times, serif;
								font-weight:bold; 
								line-height:14px;
								}
								
.comboBxs p.Price span			{ 
								text-decoration:line-through; 
								color:#888888; 
								padding-right:10px; 
								font-weight:normal;
								}
								
.comboBxs p.discount			{ 
								color:#37bcdd; 
								font-size:12px; 
								line-height:15px; 
								text-align:center; 
								font-style:italic;
								font-family:Georgia, "Times New Roman", Times, serif; 
								font-weight:bold;
								}

.cricketWearMsg 				{
								width:470px;
								float:left;
								margin:0px 10px 10px 0px;
								border:1px dashed #3e3e3e;
								text-align:center;
								margin-left:50px;
								}

.cricketWearMsg h1				{
								margin:0px;
								font-size:15px;
								font-weight:normal;
								color:#000;
								line-height:40px;
								}
								
.cricketWearMsg h1 span			{
								color:#c92c0d;
								}								
		
.cWBtn 							{ 
								width:200px; 
								float:left;
								}
																
.cWBtn a						{
								padding:11px 0px 8px 0px;
								background:#c92c0d;
								text-decoration:none;
								color:#fff;
								font-size:21px;
								font-weight:normal;
								text-align:center;
								width:auto;
								display:block;
								}
								
.cpnCodeMsgBx		 			{
								width:300px;
								float:left;
								margin:0px 0px 30px 130px;
								border:1px dashed #3e3e3e;
								text-align:center;
								font-size:15px;
								line-height:35px;
								}	

.cpnCodeBx						{
								width:150px;
								float:left;
								margin-left:10px;
								border:1px dashed #3e3e3e;
								line-height:35px;
								color:#c92c0d;
								font-weight:bold;
								text-align:center;
								font-size:21px;
								}			
														
								
														