<?xml version="1.0" ?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
        "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="solrServer" class="org.apache.solr.client.solrj.impl.CommonsHttpSolrServer">
        <constructor-arg value="${solr.serverUrl}"/>
        <property name="connectionTimeout" value="${solr.connectionTimeout}"/>
        <property name="defaultMaxConnectionsPerHost" value="${solr.defaultMaxConnectionsPerHost}"/>
        <property name="maxTotalConnections" value="${solr.maxTotalConnections}"/>
    </bean>
</beans>