<html>
<head>
    <title>Test REST API Page</title>
    <script type="text/javascript">
    <!--// global flag
    var isIE = false;

    // global request and XML document objects
    var req;


    function doXML(method) {
        // branch for native XMLHttpRequest object
        if (window.XMLHttpRequest) {
            req = new XMLHttpRequest();
            // branch for IE/Windows ActiveX version
        } else if (window.ActiveXObject) {
            isIE = true;
            req = new ActiveXObject("Microsoft.XMLHTTP");
        }

        req.open(method, document.getElementById('url').value, false);
        req.setRequestHeader("Content-Type", "application/json");

        if (method == "GET" || method == "DELETE") {
            req.send(null);
        } else {
            req.send(document.getElementById('xml').value);
        }

        document.getElementById('status').innerHTML = req.status + " " + req.statusText;
        document.getElementById('headerResponse').innerHTML = '<pre>' + req.getAllResponseHeaders() + '</pre>';

        document.getElementById('output').value = req.responseText;
        document.getElementById('htmloutput').innerHTML = req.responseText;
    }
    -->
    </script>
</head>
<body>
<h1>Request:</h1>
<TABLE>
    <TR><TH>URL:</TH><TD><input id="url" length="100" size="100"
                                value="http://localhost:8080/healthkart/admin/rest"/></TD></TR>
    <TR><TH>JSON:</TH><TD><textarea rows="15" cols="50" id="xml" name="xml"></textarea></TD></TR>
</TABLE>

<button onClick="doXML('GET')">Get</button>
<button onClick="doXML('PUT')">Put</button>
<button onClick="doXML('POST')">Post</button>
<button onClick="doXML('DELETE')">Delete</button>

<br/>

<h1>Response:</h1>
<TABLE border="1">
    <TR><TH>HTTP Status:</TH><TD>
        <div id="status"></div>
    </TD></TR>
    <TR><TH>Response Header:</TH><TD>
        <div id="headerResponse"></div>
    </TD></TR>
    <TR><TH>Output:</TH><TD><textarea rows="15" cols="50" id="output"></textarea></TD></TR>
    <TR><TH>HTML Output:</TH><TD>
        <div id="htmloutput"></div>
    </TD></TR>
</TABLE>
</body>
</html>