<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>HealthKart.com: Buy Nutrition, Health Care, Beauty & Personal Care Products Online in India| HealthKart.com</title>
<style type="text/css">
<!--
.style2 {font-size: 12px}
-->
</style>
</head>

<body style=" margin:0; padding:0; background-color:#ecf8fe; font-family: Arial, Helvetica, sans-serif;">
<table width="964" border="0" align="left" cellpadding="0" cellspacing="0">
  <tr>
    <td width="265" align="left" valign="top"><a href="http://www.healthkart.com"><img src="http://www.healthkart.com/images/logo_hkweb.jpg" width="265" height="218" border="0" /></a></td>
    <td width="25">&nbsp;</td>
    <td width="674" rowspan="2" align="left" valign="top"><img src="http://www.healthkart.com/images/404_img.jpg" width="674" height="666" /></td>
  </tr>
  
  <tr>
    <td align="left" valign="top"><table width="100%" border="0" align="left" cellpadding="0" cellspacing="0" style="font-size:14px; color:#23527f;">
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/nutrition">Nutrition</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/sports">Sports & Fitness</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/diabetes">Diabetes</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/home-devices">Home Devices</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/eye">Eye</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/personal-care">Personal Care</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/beauty">Beauty</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/parenting">Parenting</a></td>
      </tr>
      <tr>
        <td height="25px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td width="10%"><img src="http://www.healthkart.com/images/404_bullet.jpg" width="27" height="9" /></td>
        <td width="9%">&nbsp;</td>
        <td width="81%"><a style="color:#23527f; text-decoration:none;" href="http://www.healthkart.com/services">Services</a></td>
      </tr>
      <tr>
        <td height="35px">&nbsp;</td>
        <td>&nbsp;</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td height="15px" colspan="3" style="border-top:1px dashed #23527f;">&nbsp;</td>
        </tr>
      <tr>
        <td colspan="3" align="center"><strong>Customer Care: 0124-4616444</strong><br />
          <span class="style2">(24x7)</span></td>
        </tr>
      <tr>
        <td colspan="3" align="center">&nbsp;</td>
      </tr>
    </table></td>
    <td>&nbsp;</td>
  </tr>
</table>
</body>
</html>
