@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: 'roboto_thregular';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#roboto_thregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'roboto_ltregular';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#roboto_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/* Reset CSS Start */

img, a, img a, img a:hover, a:hover {border:none;}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
	margin:0;
	padding:0;
}
table {
	border-collapse:collapse;
	border-spacing:0;
}


ol,ul {
	list-style:none;
}

h1,h2,h3,h4,h5,h6 {
	font-size:100%;
	font-weight:normal;
}


/* Reset CSS Start */


/*body {
	font-family: 'robotoregular';
	color:#000;
	}

.cl {clear:both;}

.float-l {
	float:left;}

.float-r {
	float:right;}

#wrapper {
	margin:0 auto;
	width:960px;
	}

.logo { margin:0 auto;
		text-align:center;
		padding:30px 0 40px 0;
		}

.main-banner {
	margin-bottom:30px;}


.girl {
	background:url(../images/14feb/banner-for-girl.jpg) no-repeat 0 0;
	width:475px;
	height:700px;
	display:block;
	float:left;
	}

.girl:hover {
	background:url(../images/14feb/banner-for-girl.jpg) no-repeat -475px 0;}



.boy {
	background:url(../images/14feb/banner-for-boy.jpg) no-repeat 0 0;
	width:475px;
	height:700px;
	display:block;
	float:right;
	}

.boy:hover {
	background:url(../images/14feb/banner-for-boy.jpg) no-repeat -475px 0;}



.container01, .container02 {
	width:960px;
	margin-top:100px;
		}


.container01 span{
	display:block;
	width:960px;
	height:240px;
	margin-bottom:10px;
	background:url(../images/14feb/banner-girl.jpg) 0 0 no-repeat;
	margin-top:100px;
		}

.container02 span{
	display:block;
	width:960px;
	height:240px;
	margin-bottom:10px;
	background:url(../images/14feb/banner-boys.jpg) 0 0 no-repeat;
	margin-top:100px;
		}

.container01 img, .container02 img{
	margin:10px;
	float:left;} */




.footer-ny{
	display:block;
	border-top:1px dashed #999999;
	font-size:12px;
	color:#999;
	margin:40px 0 10px 0;
	padding:10px 0;
	height:36px;
	width:100%;
	}




.footer-ny p{
		float:left;}

.footer-ny img{
		float:right;
		margin-right:8px;}



 .product {
    width: 215px;
    border-bottom: none;
    text-align: left;
    float: left;
    margin: 20px 15px 0 10px;
    position: relative;
    height: 390px;
}


.product .img {
    border: 1px solid #CCC;
    width: 213px;
    height: 213px;
}

.product h3, .product h2, .product .bid {
    font-size: 15px;
    font-weight:bold;
    color: #2384c6;
    padding: 0;
}

/*.product h3 { height:23px; }*/

.product .description {
    font-size: 12px;
    line-height: normal;
    font-weight: normal;
    color: #999;
    margin-bottom: 20px;
    padding: 0;
}

.product h3 {
	min-height: 36px;
}

.product h3 a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
    border-bottom:none;
}

.product h3 a:hover {
    font-size: 13px;
    color: #333;

}

.product .price {
    text-align: left;
    margin: 5px 0;
    font-size: 18px;
    color: #333;
    line-height: normal;
    font-family: 'roboto_ltregular';
}

.product .price span {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
    font-style: normal;
}

.product a.buynow {
    color: #000;
    display: inline-block;
    font-size: 18px;
    padding: 5px 15px;
    border: 1px #000 solid;
    text-decoration: none;
    margin-bottom: 10px;
}

.product .buynow a:hover {
    color: #000;
    text-decoration: none;
}

.product:hover {
    border-bottom: none;    }

.pages {
    float: right;
    margin: 35px 0;
}

.pages .pages_link {
    background:#1b75bb;
    text-decoration: none;
    color: #ffffff;
    float: left;
    padding:3px 10px 0 10px;
    height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
}

.pages a.pages_link {
    background:#fff;
    border:1px solid #999;
    color: #000;
}

.pages a.pages_link:hover{
    color: #1b75bb;
}

.pages .next {
    color: #333;
    float: left;
    margin: 0 10px;
    padding-top: 5px;
    height: 22px;
    text-decoration: none;
}

.pages a.next {
    color: #333;
    text-decoration: none;
}

.pages a.next:hover {
    color: #1b75bb;
}