@charset "utf-8";
/* CSS Document */


/* coupon banner css start */


 a {
	text-decoration:none;}



.offer01 {

	width:700px;
    margin:0 auto;
	padding:15px;
	background:#42c6e7;
	display:block;
		}


.offer02 {
	width:440px;
    margin-top:20px;
    margin-bottom:20px;
	padding:15px;
    float:left;
	background:#42c6e7;
	display:block;
		}

.offer02b {
	width:440px;
    margin-top:20px;
    margin-bottom:20px;
	padding:15px;
    float:right;
	background:#42c6e7;
	display:block;
		}


.offer {
	width:275px;
    margin-top:20px;
	margin-right:15px;
	float:left;
	padding:15px;
	background:#42c6e7;
	display:block;
		}

.offer-inside {
	margin:0 auto;
	text-align:center;
	font-family: 'robotoregular';
	padding:15px 0 10px 0;
	border:1px dashed #FFFFFF;

	}

.discount-txt {
	text-transform:uppercase;
	margin-top:10px;
	text-align:center;
	color:#FFF;
	line-height:1.2em;
	font-size:26px;
	}

	.coupon-box {
		margin:20px 0 15px 0;}

.coupon-txt {
	margin:10px 0;
	text-transform:uppercase;
	background:#FFF;
	padding:4px 10px;
	color:#000;
	font-size:14px;
	}

	.coupon-expiry {
		font-size:12px;
		color:#000;}

 /* coupon banner css close */


body {
margin:0;
padding:0;
font-family: 'roboto_ltregular';
background:#999 url(../images/ny2013/bg.jpg);
color:#333;
font-size:14px;
line-height:1.5em;
}




.cl {
clear:both;}

p, h3, h1, h2, h4, ul{margin:0; padding:0;}


@font-face {
    font-family: 'roboto_thregular';
    src: url('roboto-thin-webfont.eot');
    src: url('roboto-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-thin-webfont.woff') format('woff'),
         url('roboto-thin-webfont.ttf') format('truetype'),
         url('roboto-thin-webfont.svg#roboto_thregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



@font-face {
    font-family: 'roboto_ltregular';
    src: url('roboto-light-webfont.eot');
    src: url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-light-webfont.woff') format('woff'),
         url('roboto-light-webfont.ttf') format('truetype'),
         url('roboto-light-webfont.svg#roboto_ltregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'robotoregular';
    src: url('roboto-regular-webfont.eot');
    src: url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('roboto-regular-webfont.woff') format('woff'),
         url('roboto-regular-webfont.ttf') format('truetype'),
         url('roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


a, a:hover {
    border-bottom: medium none;
}


#wrapper{
	margin:0 auto;
	background-color:#FFF;
	box-shadow: 0 0 10px -1px rgba(100, 100, 100, .5);
	padding:0 20px;
	width:960px;
	}
	
.logo{padding-top:60px;
    width:100%;
    text-align:center;
}
	

.container01 {
	overflow:hidden;
	padding-bottom:20px;
	margin-top:80px;
	}
	

	
	.txt01 {
	font-family: 'roboto_thregular';
	font-weight:normal;
	font-size:35px;
	color:#464646;
    height:25px;
    width:100%;
	padding:10px 15px;
	text-align:center;
	}
	

.contant01 {
	border-bottom: 1px dashed #CCCCCC;
	overflow:hidden;
	padding-bottom:20px;
    width:100%;
    text-align:center;
    margin-bottom:15px;
}
	
.contant01 img{
	 clear:both;
    margin:15px 0;
	 }

  .contant01 p{
	 width:700px;
      padding:15px;
      margin:0 auto;
       }
	 
.product {
    width: 215px;
    border-bottom: none;
    text-align: left;
    float: left;
    margin: 20px 15px 0 10px;
    position: relative;
    height: 390px;
}


.product .img {
    border: 1px solid #CCC;
    width: 213px;
    height: 213px;
}

.product h3, .product h2, .product .bid {
    font-size: 15px;
    font-weight:bold;
    color: #2384c6;
    padding: 0;
}

/*.product h3 { height:23px; }*/

.product .description {
    font-size: 12px;
    line-height: normal;
    font-weight: normal;
    color: #999;
    margin-bottom: 20px;
    padding: 0;
}

.product h3 {
	min-height: 36px;
}

.product h3 a {
    font-size: 13px;
    color: #333;
    text-decoration: none;
    border-bottom:none;
}

.product h3 a:hover {
    font-size: 13px;
    color: #333;

}

.product .price {
    text-align: left;
    margin: 5px 0;
    font-size: 18px;
    color: #333;
    line-height: normal;
    font-family: 'roboto_ltregular';
}

.product .price span {
    font-size: 15px;
    color: #999;
    text-decoration: line-through;
    font-style: normal;
}

.product a.buynow {
    color: #000;
    display: inline-block;
    font-size: 18px;
    padding: 5px 15px;
    border: 1px #000 solid;
    text-decoration: none;
    margin-bottom: 10px;
}

.product .buynow a:hover {
    color: #000;
    text-decoration: none;
}

.product:hover {
    border-bottom: none;    }


/* menu css start */


	.navbox  {
		width:100%;
		border-top:2px solid #F2861D;
		height:38px;
        left:0;
        top:22px;
		margin:0;
		padding:0;
		background:#262626;
		position:fixed; 
		z-index:99;
	}

	.navigation  {
		width:980px;
		margin:0 auto; 
		padding:0px; 
		list-style:none;
	}	
	
	
	/* Little tricking with positions */
	.navigation  li {
		float:left;			/* Show list items inline */
		position:relative; 
	}
		
	/* Playing with Main Categories */
	.navigation  li a {
		background:#262626;
		border-right:1px solid #464646;
        border-bottom:none;
		color:#fff;
		display:block;  	/* Making sure a element covers whole li area */
		padding:8px 30px; 
		text-decoration:none; /* No underline */
		text-align:center; 
		text-transform:uppercase;
	}

	.navigation  li a:hover {
		color:#F2861D;
	}
		

/* menu css close */

.pages {
    float: right;
    margin: 35px 0;
}

.pages .pages_link {
    background:#f58220;
    text-decoration: none;
    color: #ffffff;
    float: left;
    padding-top: 3px;
    height: 22px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    text-align: center;
    width: 30px;
}

.pages a.pages_link {
    background:#999;
    color: #000;
}

.pages a.pages_link:hover{
    color: #fff;
}

.pages .next {
    color: #333;
    float: left;
    margin: 0 10px;
    padding-top: 5px;
    height: 22px;
    text-decoration: none;
}

.pages a.next {
    color: #333;
    text-decoration: none;
}

.pages a.next:hover {
    color: #1b75bb;
}

.footer-ny{
    border-top: 1px solid #CCCCCC;
	margin:10px 0;
	padding:10px 0;
	height:36px;
	width:100%;
	}


.footer-ny p{
		float:left;}

.footer-ny img{
		float:right;
		margin-right:8px;}