.clr				{ 
					clear:both;
					}
			
.nRow				{
					width:100%;
					clear:both;
					}
			

.container			{ 
					width:930px; 
					clear:boeth; 
					margin:0 auto;
					text-align:left;
					}
					

.pCarePageSec1 h1	{ margin:0px; padding:20px 0px 10px 0px; color:#c62535; font-size:48px; font-weight:bold; line-height:32px; font-family:Arial, Helvetica, sans-serif;}
.pCarePageSec1 h2	{ margin:0px; padding:0px; color:#c62535; font-size:21px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}

.pCarePageSec1 h1 a			{ color:#c62535; text-decoration:none;}
.pCarePageSec1 h1 a:hover	{ color:#c62535; text-decoration:none;}

.pCarePageSec1 h2 a			{ color:#c62535; text-decoration:none;}
.pCarePageSec1 h2 a:hover	{ color:#c62535; text-decoration:none;}


.pCarePageSec2 h1	{ margin:0px; padding:20px 0px 10px 0px; color:#963f24; font-size:48px; font-weight:bold; line-height:32px; font-family:Arial, Helvetica, sans-serif;}
.pCarePageSec2 h2	{ margin:0px; padding:0px; color:#963f24; font-size:21px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}

.pCarePageSec2 h1 a			{ color:#963f24; text-decoration:none;}
.pCarePageSec2 h1 a:hover	{ color:#963f24; text-decoration:none;}

.pCarePageSec2 h2 a			{ color:#963f24; text-decoration:none;}
.pCarePageSec2 h2 a:hover	{ color:#963f24; text-decoration:none;}



.pCarePageSec3 h1	{ margin:0px; padding:20px 0px 10px 0px; color:#ce9114; font-size:48px; font-weight:bold; line-height:32px; font-family:Arial, Helvetica, sans-serif;}
.pCarePageSec3 h2	{ margin:0px; padding:0px; color:#ce9114; font-size:21px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}

.pCarePageSec3 h1 a			{ color:#ce9114; text-decoration:none;}
.pCarePageSec3 h1 a:hover	{ color:#ce9114; text-decoration:none;}

.pCarePageSec3 h2 a			{ color:#ce9114; text-decoration:none;}
.pCarePageSec3 h2 a:hover	{ color:#ce9114; text-decoration:none;}



.pCarePageSec4 h1	{ margin:0px; padding:20px 0px 10px 0px; color:#0f90a1; font-size:48px; font-weight:bold; line-height:32px; font-family:Arial, Helvetica, sans-serif;}
.pCarePageSec4 h2	{ margin:0px; padding:0px; color:#0f90a1; font-size:21px; font-weight:normal; font-family:Arial, Helvetica, sans-serif;}

.pCarePageSec4 h1 a			{ color:#0f90a1; text-decoration:none;}
.pCarePageSec4 h1 a:hover	{ color:#0f90a1; text-decoration:none;}

.pCarePageSec4 h2 a			{ color:#0f90a1; text-decoration:none;}
.pCarePageSec4 h2 a:hover	{ color:#0f90a1; text-decoration:none;}




.deviderGLine		{ width:910px; clear:both; height:7px; line-height:7px; background:#bcbcbc; margin:20px 0px 10px 0px;}