@charset "utf-8";
html{color:#000;background:#ffffff;text-rendering:optimizelegibility;}body,div,dl,dt,dd,ul,ol,li,pre,code,form,fieldset,legend,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{background-color: #fff;margin:0;padding:0;border:0;font:16px Arial, Helvetica, sans-serif;list-style:none;outline:0 none;text-decoration:none;line-height: 18px;color: #444;}
#container{
    width:900px;height:auto;margin:0 auto;
    position: relative;
    background:#ffffff;
    margin-top:10px;
    padding: 10px;
    border:1px solid #c9e1f4;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
}
.formbox{height:auto;padding:10px;text-align:center;}
.logo_block a{text-align:center;}
.logo_block {text-align:center;}
h3{font-weight: normal;}
input[type="text"], input[type="password"], select, textarea {
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #61a3d9;
    border-radius: 3px;
   -webkit-border-radius:3px;
   -moz-border-radius:3px;
    height: 33px;
    padding: 5px;
    width: 300px;
    clear:both;
    font-size:16px;
    margin: 20px 0px 0px;

}
.submit
{
color: white;
padding: 5px 10px;
background-color: #4194d7;
border-radius: 5px;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
border: 1px solid #4194d7;
text-align:center;
height:36px;
cursor: pointer;
margin: 10px 10px;
}
.disabled_button{background:none repeat scroll 0 0 #CCCCCC !important;color:#a3a1a1 !important;border:1px solid #ccc !important;}
.footer img{margin-bottom:3px;}
.errors .errorList{
    background-color: #FFF1F1;
    border: 1px solid #BA6262;
    border-radius: 3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
    margin: 20px 20px;
    padding:5px 15px;
    width: auto;
    text-align: center;
    display: inline;
}
.error-tooltip{
    background-color: #FFF1F1;
    border: 1px solid #BA6262;
    border-radius: 3px 3px 3px 3px;
    color: red;
    font-size: 12px;
    line-height: 18px;
    margin: 0 3px 0 10px;
    padding:5px 5px;
    position: absolute;
    text-align: right;
}

.error-tooltip .pointer, .error-tooltip .inner-pointer {
    position: absolute;
}
.error-tooltip .pointer {
    border-color: transparent #BA6262 transparent transparent;
    border-style: solid;
    border-width: 7px;
    margin-left: -20px;
    top:30%;
}
.error-tooltip .inner-pointer {
    border-color: transparent #FFF1F1 transparent transparent;
    border-style: solid;
    border-width: 6px;
    top: -6px;
    margin-left:-4px;
}

.error-tooltip-left{
    background-color: #FFF1F1;
    border: 1px solid #BA6262;
    border-radius: 3px 3px 3px 3px;
    color: red;
    font-size: 12px;
    line-height: 18px;
    margin: 0 10px 0 3px;
    padding:5px 5px;
    position: absolute;
    text-align: right;
    float:right;
}
.error-tooltip-left .pointer-left {
    border-color: transparent transparent transparent #BA6262 ;
    border-style: solid;
    border-width: 7px;
    margin-left: 10px;
    float:right;
    position: absolute;
    top:30%;
    right:-15px;
}
.error-tooltip-left .inner-pointer-left {
    border-color: transparent transparent transparent #FFF1F1;
    border-style: solid;
    border-width: 6px;
    top: -6px;
    margin-left:-8px;
    position: absolute;
}

.bottom{
    position: absolute;
    bottom: 5px;
    left:40%;
    display: inline;
    font-size: 12px;
    text-align: center;
}

.clear{
    margin: 30px;
}

.clickHere{
    cursor: pointer;
    text-decoration: underline;
}

