<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Honoring Our Doctors - Our Life Long Saviors!</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#e1f0f7; background-image:url(http://img.healthkart.com/email/doctors-day-july/images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/doctors-day-july/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#acdeff">
      <tr>
        <td colspan="3"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images/header.jpg" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="22" width="20"></td>
        <td>&nbsp;</td>
        <td rowspan="22" width="20"></td>
      </tr>
      <tr>
        <td align="center" valign="middle"><a href="http://www.healthkart.com/home-devices/blood-pressure/combo?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//doctors-day-banner.jpg" alt="Exclusive Offers for Doctor's Week - July 1 to July 8, 2012" width="610" height="" border="0" /></a></td>
      </tr>
      
      
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="610" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="76" rowspan="2"><img src="http://img.healthkart.com/email/doctors-day-july/images//steth-icon.jpg" width="75" height="75" /></td>
            <td width="13" height="23">&nbsp;</td>
            <td width="521" align="left" valign="top" style="color:#0062a4; font-size:16px; font-weight:bold; padding-bottom:5px;">Offers on Steths</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left" valign="top" style="color:#363636; font-size:13px; line-height:1.5em; font-style:italic;">Get your name engraved on your stethoscope! Now you don't have to worry about misplacing it or worse - switching your favorite steth with someone else's.</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="10px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-prestige-cardiology-stethoscope/CMB-HD006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//15169_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-prestige-cardiology-stethoscope/CMB-HD006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Pulse Wave Cardiology Steth With Free Engraving</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Get your name engraved for free on your favorite Cardiology Stethoscope!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-prestige-cardiology-stethoscope/CMB-HD006?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-cardiac-1-ss-stethoscope/CMB-HD007?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//15176_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-cardiac-1-ss-stethoscope/CMB-HD007?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Pulse Wave Cardiac 1 - SS Steth With Free Engraving</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Get your name engraved on the Pulse Wave Cardiac 1 - SS. Suitable for gifting too!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/free-engraving-on-pulse-wave-cardiac-1-ss-stethoscope/CMB-HD007?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/littmann-stethoscope-master-cardiology/LIT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//3138_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/littmann-stethoscope-master-cardiology/LIT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Littmann Master Cardiology Steth </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Apart from saving 15%, you get to choose from between Green, Gray, Plum, Black, Chocolate, Burgundy & Blue.
</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/littmann-stethoscope-master-cardiology/LIT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      <tr>
        <td><table width="610" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="76" rowspan="2"><img src="http://img.healthkart.com/email/doctors-day-july/images//equipment-icon.jpg" width="75" height="75" /></td>
            <td width="13" height="23">&nbsp;</td>
            <td width="521" align="left" valign="top" style="color:#0062a4; font-size:16px; font-weight:bold; padding-bottom:5px;">Offers on Equipment</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
            <td align="left" valign="top" style="color:#363636; font-size:13px; line-height:1.5em; font-style:italic;">Save on our special combos, designed keeping your needs in mind. These offers are time bound and will expire on July 8th 2012. Hurry!</td>
          </tr>
        </table></td>
      </tr>
      
      <tr>
        <td height="10px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/equinox-irresistible-offer/CMB-HD005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//13232_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/equinox-irresistible-offer/CMB-HD005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Free Body Fat Monitor With Upper Arm BP Monitor</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Get a free Equinox Body Fat Monitor on purchase of Equinox Upper Arm BP Monitor. Save 54%!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/equinox-irresistible-offer/CMB-HD005?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/free-pulse-wave-monitor-stethoscope-with-niscomed-lcd-b.p.-apparatus-pw-216/CMB-HD004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//12674_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/free-pulse-wave-monitor-stethoscope-with-niscomed-lcd-b.p.-apparatus-pw-216/CMB-HD004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Free Pulse Wave Monitor Steth With LCD BP Apparatus</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Save 35% on Niscomed BP Apparatus and Get a free Pulse Wave Monitor Steth absolutely free!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/free-pulse-wave-monitor-stethoscope-with-niscomed-lcd-b.p.-apparatus-pw-216/CMB-HD004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #079fe0;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/rossmax-rappaport-stethoscope-eb500/ROSMAX009?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images//15075_m.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/rossmax-rappaport-stethoscope-eb500/ROSMAX009?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#4579a7; text-decoration:none;">Rossmax Rappaport Steth (35% off!)</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Save flat 35% on the Rossmax Rappaport Stethoscope. Choose Rossmax Rappaport for unsurpassed accoustic sensitivity. Hurry! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#079fe0" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/rossmax-rappaport-stethoscope-eb500/ROSMAX009?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td style="border-top:1px dashed #0062a4;">&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>

    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #079fe0"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july"><img src="http://img.healthkart.com/email/doctors-day-july/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-07-02-doctors-day-july" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/doctors-day-july/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/doctors-day-july/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #079fe0 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
