<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nutrition Emailer</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://www.healthkart.com/email/nutrition_emailer/emailer_nutrition.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="258"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="273" align="right" style="font-size:12px; font-weight:bold; color:#333333">Spread the word:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/nutrition_emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/nutrition_emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      <tr>
        <td colspan="5" height="45"><a href="http://www.healthkart.com/nutrition?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/top_banner.gif" alt="Need Nutrition Advice? Request a callback" width="700" height="45" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="500" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.healthkart.com/nutrition?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/main_banner.jpg" alt="You pay - blood, sweat, iron. Supplements are on us. HealthKart.com - India's No. 1 online nutrition store." title="You pay - blood, sweat, iron. Supplements are on us. HealthKart.com - India's No. 1 online nutrition store." width="500" height="300" border="0" /></a></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp; Top Selling Products</td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><a href="http://www.healthkart.com/product/on-gold-standard-100-whey-protein/NUT304?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/on_whey.jpg" alt="ON Gold Standard 100% Whey Protein" title="ON Gold Standard 100% Whey Protein" width="150" height="150" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td align="center" height="40" valign="middle" bgcolor="#cfcfcf" style="color:#363636; font-size:12px;"><a href="http://www.healthkart.com/product/on-gold-standard-100-whey-protein/NUT304?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">ON Gold Standard 100% Whey Protein</a></td>
                    </tr>
                    <tr>
                      <td align="center" height="30" valign="middle" style="color:#d70012; font-weight:bold; font-size:13px;">22% Off</td>
                    </tr>
                  </table></td>
                  <td width="25">&nbsp;</td>
                  <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><a href="http://www.healthkart.com/product/isopure-powder-zero-carb/NUT131?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/isopure.jpg" alt="Isopure Powder Zero Carb" width="150" height="150" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td align="center" height="40" valign="middle" bgcolor="#cfcfcf" style="color:#363636; font-size:12px;"><a href="http://www.healthkart.com/product/isopure-powder-zero-carb/NUT131?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">Isopure Powder<br />
Zero Carb </a></td>
                    </tr>
                    <tr>
                      <td align="center" height="30" valign="middle" style="color:#d70012; font-weight:bold; font-size:13px;">28% Off</td>
                    </tr>
                  </table></td>
                  <td width="25">&nbsp;</td>
                  <td width="150"><table width="150" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td><a href="http://www.healthkart.com/product/un-animal-cuts/NUT481?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/animal_cuts.jpg" alt="UN Animal Cuts" width="150" height="150" border="0" /></a></td>
                    </tr>
                    <tr>
                      <td align="center" height="40" valign="middle" bgcolor="#cfcfcf" style="color:#363636; font-size:12px;"><a href="http://www.healthkart.com/product/un-animal-cuts/NUT481?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">UN<br />
                        Animal Cuts</a></td>
                    </tr>
                    <tr>
                      <td align="center" height="30" valign="middle" style="color:#d70012; font-weight:bold; font-size:13px;">25% Off</td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp; Product Introductions</td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/irwin-naturals-omega3-6-9/NUT568?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/irwin_naturals.jpg" width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/irwin-naturals-omega3-6-9/NUT568?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">Irwin Naturals Omega3 6 &amp; 9</a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">22% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Omega 3 and 6 cannot be manufactured by the body and has to be provided through Diet or Supplements. Omega 3,6,9 capsules can be taken daily as part of an optimal diet,  for general health and wellbeing by everyone.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/irwin-naturals-omega3-6-9/NUT568?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp; Fitness Insight</td>
            </tr>
            <tr>
              <td bgcolor="#fffea9"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="5" align="left" valign="top" height="15"></td>
                  </tr>
                <tr>
                  <td align="left" valign="top" width="15">&nbsp;</td>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/viva/train-dont-strain-your-body/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/nutrition_tips.jpg" alt="Fitness Insight" border="0" /></a></td>
                  <td width="15"></td>
                  <td align="left" valign="top"><table width="305" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/viva/train-dont-strain-your-body/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">Want a Fit And Chiseled Physique ? Then Train YourBody, The Right Way</a></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">We all aim to be fit and, due to increased awareness and influence of media, all of us want to look good. It’s not just professional athletes or body builders, but even a person working at an MNC who is concerned about the fitness aspect. But do you really think you can do so just by pumping iron. We don’t think so.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/viva/train-dont-strain-your-body/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                  <td align="left" valign="top" width="15">&nbsp;</td>
                </tr>
              </table></td>
            </tr>
        
          </table></td>
          <td  style="border-right: 1px solid #363636">&nbsp;</td>
          <td width="175" align="left" valign="top"><table width="175" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636">&nbsp;</td>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF">Special Offers</td>
            </tr>

            <tr>
              <td width="25">&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/nitro-tech-hardcore/NUT130?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">Nitro Tech Hardcore </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/nitro-tech-hardcore/NUT130?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/nitro-tech.jpg" width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">24% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;"> Nitro-Tech Hardcore Pro series comes with 25% MORE proteins. Each dose comes with 11 gms of Leucine and 13 gms of BCAAs</td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/on-platinum-hydro-whey/NUT300?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">ON Platinum Hydro Whey</a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/on-platinum-hydro-whey/NUT300?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/hydro_whey.jpg" alt="ON Platinum Hydro Whey " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">20% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Platinum Hydrowhey, a lean mass gainer is a fast acting, pure, advanced whey protein.</td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
           
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/gaspari-nutrition-myofusion/NUT419?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer" style="color:#363636; text-decoration:none;">Gaspari Nutrition Myofusion</a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/gaspari-nutrition-myofusion/NUT419?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-10-18-nutrition-emailer"><img src="http://img.healthkart.com/email/nutrition_emailer/images/myofusion.jpg" alt="Gaspari Nutrition Myofusion" width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">15% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Killer combination of whey, milk and egg albumen isolates and concentrates, with added vitamins and minerals. See amazing muscle gains. </td>
                </tr>
                <tr>
                  <td height="15px"></td>
                </tr>
              </table></td>
            </tr>

          </table></td>
        </tr>

      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></p>          </td>
      </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
