<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Facebook fan special offer</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="500" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">
Can't view this email?
<a href="http://www.healthkart.com/email/fb_weekend_offer/emailer.html">Click here</a>
to view a web version.
</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="500" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="250"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-19-facebook-offer-emailer"><img src="http://img.healthkart.com/email/fb_weekend_offer/images/logo.jpg" alt="HealthKart.com Logo" width="172" height="29" border="0" /></a></td>
        <td width="181" align="right" style="font-size:12px; font-weight:bold; color:#333333">Spread the word:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-19-facebook-offer-emailer"><img src="http://img.healthkart.com/email/fb_weekend_offer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>
        <td width="22"><a href="http://twitter.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-19-facebook-offer-emailer"><img src="http://img.healthkart.com/email/fb_weekend_offer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
    </table></td>
  </tr>
  
  
  
  
  
  <tr>
    <td valign="top"><table align="center" width="500" border="0" cellspacing="0" cellpadding="0" style="border:solid 1px #d1d1d1">
      <tr>
        <td><a href="http://www.facebook.com/healthkart?sk=app_130363280399851"><img src="http://img.healthkart.com/email/fb_weekend_offer/images/fb_offer.jpg" alt="Weekend giveaway. Share with your facebook friends to claim your free Rs. 300 voucher." title="Weekend giveaway. Share with your facebook friends to claim your free Rs. 300 voucher." width="500" height="520" border="0" /></a></td>
      </tr>
      <tr>
        <td align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0"  style="font-size:12px; color:#333333">
          <tr>
            <td width="20">&nbsp;</td>
            <td><strong><a href="http://www.facebook.com/healthkart?sk=app_130363280399851">Click here to proceed to our facebook page and get your free voucher</a></strong></td>
            <td width="20">&nbsp;</td>
          </tr>
          <tr>
            <td height="10px" colspan="3"></td>
            </tr>
       
          <tr>
            <td>&nbsp;</td>
            <td align="left" valign="top" style="line-height:25px">•  &nbsp;Offer closes on 20th Nov, 2011 at 2359 hrs, IST<br />

•    &nbsp;&nbsp;Voucher applicable on purchases of Rs. 1000 or more on HealthKart.com<br />

•    &nbsp;&nbsp;Voucher valid till 20th Nov, 2011, 2359 hrs, IST<br /></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td colspan="3" height="20px">&nbsp;</td>
            </tr>
          
          
        </table></td>
      </tr>
      <tr>
        <td bgcolor="#363636" height="70" align="center" ><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
              <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></td>
      </tr>
    </table></td>
  </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />
      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
  
  
  

</table>
</body>
</html>
