<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Health and strength at an amazing price!</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f5f5f5; background-image:url(images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/personal_care_april/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="650" border="0" cellpadding="0" cellspacing="0" bgcolor="#d0e2ec">
      <tr>
        <td colspan="3"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/header.png" alt="HealthKart.com, the one stop shop for health, fitness and beauty!" width="650" height="121" border="0" /></a></td>
        </tr>
      <tr>
        <td rowspan="11" width="20px"></td>
        <td>&nbsp;</td>
        <td rowspan="11" width="20px"></td>
      </tr>
      <tr>
        <td><a href="http://www.healthkart.com/brand/personal-care/piramal+healthcare+ltd.?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/main_banner.jpg" alt="i-can! i-sure!" width="610" height="251" border="0" /></a></td>
        </tr>
      <tr>
        <td height="20px"></td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td><a href="http://www.healthkart.com/product/nicorette/NIC001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/small_banner01.jpg" alt="Nicorette" width="295" height="190" border="0" /></a></td>
            <td width="20px"></td>
            <td><a href="http://www.healthkart.com/product/moov-ortho-heat-belt/OH089?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/small_banner02.jpg" alt="Moov Ortho Heat Belt" width="295" height="190" border="0" /></a></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/3m-clinpro-tooth-creme/3M001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img01_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/3m-clinpro-tooth-creme/3M001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">3M Clinpro Tooth Creme</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Forget teeth stains. Strengthen gums. Dual purpose to get shiny, healthy teeth for a lifetime! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/3m-clinpro-tooth-creme/3M001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img01_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Aassan Mobile</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Make life of your beloved grand-parents Aassan. Super friendly phone with simple features!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/aassan/MOB001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/wallet-alarm/COP004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img01_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/wallet-alarm/COP004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Wallet Alarm</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Red-alert for nasty thieves! Your self defence weapon is now in your pockets. No more fears.</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/wallet-alarm/COP004?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/dettol-no-touch-hand-wash-refill/DET001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img02_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/dettol-no-touch-hand-wash-refill/DET001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Dettol No Touch Hand wash Refill</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Protection for your family against germs. Make your hand-wash experience a healthy one!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/dettol-no-touch-hand-wash-refill/DET001?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/oral-b-electric-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img02_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/oral-b-electric-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Oral-B Electric Toothbrush</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Complete solution for your Dental health..Bid adieu to cavities and flash your smile again!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/oral-b-electric-toothbrush/OH071?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/pull-up-style-adult-diapers-hamper/PP047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img02_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/pull-up-style-adult-diapers-hamper/PP047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Pull Up Style Adult Diapers, Hamper </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Don't let Incontinence ruin your social life. Get moving with freedom and make your outings happy!</td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/pull-up-style-adult-diapers-hamper/PP047?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="top" width="190px" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/motein-powerguard-combi-pack-45n-machine-%2B-refill/OH085?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img03_a.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/motein-powerguard-combi-pack-45n-machine-%2B-refill/OH085?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Mortein Powerguard Combi Pack 45N</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Entry banned for killer mosquitoes. No more sleepless nights over stinging bad bugs! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/motein-powerguard-combi-pack-45n-machine-%2B-refill/OH085?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/durex-play-ultra/PS038?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img03_b.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/durex-play-ultra/PS038?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Durex Play Ultra </a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Sensational experience to make those special moments unforgettable. Extreme closeness guaranteed. <br />
                  Play on! </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/durex-play-ultra/PS038?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
            <td width="20px"></td>
            <td width="190px" align="center" valign="top" bgcolor="#FFFFFF" style="border:2px solid #97b8ca;"><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td colspan="3" align="center" valign="top"><a href="http://www.healthkart.com/product/kara-refreshing-facial-wipes-with-cucumber-aloevera/PP030?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/img03_c.jpg" width="186" height="140" border="0" /></a></td>
                </tr>
              <tr>
                <td rowspan="5" width="10">&nbsp;</td>
                <td width="166" height="10px" ></td>
                <td rowspan="5" width="10">&nbsp;</td>
              </tr>
              <tr>
                <td style="font-size:14px; font-weight:bold; color:#4579a7;"><a href="http://www.healthkart.com/product/kara-refreshing-facial-wipes-with-cucumber-aloevera/PP030?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#4579a7; text-decoration:none;">Kara Refreshing Facial Wipes</a></td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td style="color:#363636; font-size:12px; line-height:1.5em;">Enjoy your summer outings with freshness and freedom. No fear from pollutants anymore!  </td>
                </tr>
              <tr>
                <td height="10px"></td>
                </tr>
              <tr>
                <td colspan="3" align="center" valign="middle"><table width="90" height="24" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td align="center" valign="middle" bgcolor="#599ad4" style="font-size:12px; font-weight:bold; color:#FFFFFF; border:solid 1px #4579a7"><a href="http://www.healthkart.com/product/kara-refreshing-facial-wipes-with-cucumber-aloevera/PP030?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#FFFFFF; text-decoration:none">BUY NOW</a></td>
          </tr>
        </table></td>
                </tr>
              <tr>
                <td colspan="3" height="10px"></td>
                </tr>
            </table></td>
          </tr>
        </table></td>
        </tr>
      <tr>
        <td>&nbsp;</td>
        </tr>
    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #97b8ca"><table width="650" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april"><img src="http://img.healthkart.com/email/personal_care_april/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-04-27-personal_care_april" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/personal_care_april/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/personal_care_april/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #97b8ca 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
