<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Special offer for facebook fans. Beauty Hat-trick.</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif">
<table width="700" border="0" cellspacing="0" cellpadding="0" align="center">



  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:20px">Can't view this email? <a href="http://img.healthkart.com/email/beauty_fb_emailer/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  
  
  
  
    <tr>
    <td><table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="258"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/logo.jpg" alt="healthkart.com logo" border="0" /></a></td>
        <td width="273" align="right" style="font-size:12px; font-weight:bold; color:#333333">Spread the word:</td>
        <td width="14">&nbsp;</td>
        <td width="33"><a href="http://www.facebook.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/facebook-icon.jpg" alt="facebook" width="22" height="23" border="0" /></a></td>

        <td width="22"><a href="http://twitter.com/healthkart?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/twitter-icon.jpg" alt="twitter" width="22" height="22" border="0" /></a></td>
      </tr>
      <tr>
        <td colspan="5" height="10"></td>
      </tr>
      
      
    </table></td>
  </tr>
  
  
  
  
  
    <tr>
      <td><table width="700" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="500" align="left" valign="top"><table width="500" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="http://www.facebook.com/healthkart?sk=app_130363280399851"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/main_banner.jpg" alt="Happy Children's Day. Flat 15% cash back on all purchases." title="Happy Children's Day. Flat 15% cash back on all purchases." width="500" height="300" border="0" /></a></td>
            </tr>
            <tr>
              <td height="20">&nbsp;</td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp;New Arrivals</td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/aatanyaa-face-scrub-gel-neem-tulsi/VNCP07?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/new1.jpg" alt="Aaranyaa Face Scrub Gel Neem Tulsi " width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/aatanyaa-face-scrub-gel-neem-tulsi/VNCP07?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Aaranyaa Face Scrub Gel Neem Tulsi </a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Exclusively available with HealthKart.com</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Let your skin breathe with the goodness of almond oil and walnut granules to give that perfect radiance you always wanted! Nourish your skin while you make it smooth &amp; oil free. Get rid of dirt and dead skin cells for good!</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/aatanyaa-face-scrub-gel-neem-tulsi/VNCP07?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/fresh-line-cassandra-fantasy-body-fragrance/FRSH02?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/new2.jpg" alt="Fresh Line Cassandra Fantasy Body Fragrance " width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/fresh-line-cassandra-fantasy-body-fragrance/FRSH02?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Fresh Line Cassandra Fantasy Body Fragrance </a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 17% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;"><p>Bathe in divine fragrance enriched with essential oils and rich honey scent. Now you can experience everlasting beauty every day. Use it and benefit from it's anti aging and anti oxidant proper</p>
                        </td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/fresh-line-cassandra-fantasy-body-fragrance/FRSH02?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15"  style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="15"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/vichy-essentielles-facial-cleanser/BTY114?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/new3.jpg" alt="Vichy Essentielles Facial Cleanser " width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/vichy-essentielles-facial-cleanser/BTY114?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Vichy Essentielles Facial Cleanser </a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 15% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Get a squeaky clean complexion with natural hydrating properties that would simply love your skin! Now you can wipe away dirt without drying your skin. Suitable for removing make up, even around the eyes! Did we mention that this cleanser also boasts of gentle skin action?</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/vichy-essentielles-facial-cleanser/BTY114?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15" style="border-bottom:1px solid #363636;"></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td align="left" valign="top" width="150"><a href="http://www.healthkart.com/product/herbal-essences-body-envy/HRBLESS1?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/new4.jpg" alt="Herbal Essences Body Envy " width="150" height="150" border="0" /></a></td>
                  <td width="20"></td>
                  <td align="left" valign="top"><table width="330" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/herbal-essences-body-envy/HRBLESS1?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Herbal Essences Body Envy  </a></td>
                    </tr>
                    <tr>
                      <td align="left" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">Get 5% Off</td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Give your luscious locks body and bounce.It's lightweight formula has a fusion of passion flower sunrise and pearl which ensures that your hair is exhilarating clean which will lift you up.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthkart.com/product/herbal-essences-body-envy/HRBLESS1?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td height="15"></td>
            </tr>
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF"> &nbsp;&nbsp; &nbsp; Beauty Tips</td>
            </tr>
           <tr>
              <td bgcolor="#fffea9"><table width="500" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td colspan="5" align="left" valign="top" height="15"></td>
                  </tr>
                <tr>
                  <td align="left" valign="top" width="15">&nbsp;</td>
                  <td align="left" valign="top" width="150"><a href="http://www.healthviva.com/skin-feeling-dry-and-flaky-try-these-simple-remedies-this-winter/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/tips.jpg" width="150" height="150" border="0" /></a></td>
                  <td width="15"></td>
                  <td align="left" valign="top"><table width="305" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthviva.com/skin-feeling-dry-and-flaky-try-these-simple-remedies-this-winter/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Skin Feeling Dry And Flaky? Try These Simple Remedies This Winter</a></td>
                    </tr>
                    <tr>
                      <td height="10"></td>
                    </tr>
                    <tr>
                      <td style="color:#363636; font-size:12px;">Winters are a wonderful respite from the hot summer months, but they bring with them itchy dry skin. Try these simple steps and home remedies to have super-soft skin this winter.

Winters are around the corner. And if you already have dry skin, your condition can seriously worsen as the days get colder and dryer.</td>
                    </tr>
                    <tr>
                      <td height="25" align="right" style="color:#363636; font-size:12px; text-decoration:underline;"><a href="http://www.healthviva.com/skin-feeling-dry-and-flaky-try-these-simple-remedies-this-winter/?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636">Read more >></a></td>
                    </tr>
                  </table></td>
                  <td align="left" valign="top" width="15">&nbsp;</td>
                </tr>
              </table></td>
            </tr>
            
            
          
        
          </table></td>
          <td  style="border-right: 1px solid #363636">&nbsp;</td>
          <td width="175" align="left" valign="top"><table width="175" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td height="25" align="left" valign="middle" bgcolor="#363636">&nbsp;</td>
              <td height="25" align="left" valign="middle" bgcolor="#363636" style="font-size:14px; font-weight:bold; color:#FFFFFF">Special Offers</td>
            </tr>

            <tr>
              <td width="25">&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/lord-berry-20100-shining-lipstick/LBDR10?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Lord & Berry 20100 Shining Lipstick </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/lord-berry-20100-shining-lipstick/LBDR10?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/special01.jpg" alt="Lord &amp; Berry 20100 Shining Lipstick " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">30% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Soften your pout with the brilliance of long lasting hydrating lip colors.</td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/h2o-sea-mineral-mud-mask-purify/H2O020?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">H2O Sea Mineral Mud Mask (Purify) </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/h2o-sea-mineral-mud-mask-purify/H2O020?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/special02.jpg" alt="H2O Sea Mineral Mud Mask (Purify) " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">15% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Soften your skin with the goodness of minerals. Added Kaolin clay renews skin cells. </td>
                </tr>
                <tr>
                  <td style="border-bottom:solid 1px #363636" height="15px"></td>
                </tr>
              </table></td>
            </tr>
           
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/philips-hp8200-hair-dryer-1600-w/PHILI09?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Philips HP8200 Hair Dryer 1600 W </a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/philips-hp8200-hair-dryer-1600-w/PHILI09?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/special03.jpg" alt="Philips HP8200 Hair Dryer 1600 W " width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">14% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Become a trendy diva and make heads turn. Easy to use, with groovy styling!</td>
                </tr>
                <tr>
                  <td height="15px" style="border-bottom:solid 1px #363636"></td>
                </tr>
              </table></td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td><table width="150" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="20px">&nbsp;</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com/product/organic-surge-blissful-daily-moisturer/BTY761?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer" style="color:#363636; text-decoration:none;">Organic Surge Blissful Daily Moisturer</a></td>
                </tr>
                <tr>
                  <td height="10px"></td>
                </tr>
                <tr>
                  <td><a href="http://www.healthkart.com/product/organic-surge-blissful-daily-moisturer/BTY761?utm_source=enewsletter&utm_medium=email&utm_campaign=2011-11-22-beauty_fb_emailer"><img src="http://img.healthkart.com/email/beauty_fb_emailer/images/special04.jpg" alt="Organic Surge Blissful Daily Moisturer" width="150" height="150" border="0" /></a></td>
                </tr>
                <tr>
                  <td align="center" valign="middle" height="30" style="color:#d70012; font-weight:bold; font-size:13px;">25% Off</td>
                </tr>
                <tr>
                  <td style="color:#363636; font-size:12px;">Gift your skin with natural hydrators and anti-oxidants for a youthful look!</td>
                </tr>
                <tr>
                  <td height="15px"></td>
                </tr>
              </table></td>
            </tr>

          </table></td>
        </tr>

      </table></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
    </tr>
  <tr>
        <td bgcolor="#363636" height="70" align="center" ><p><span style="font-size:12px; font-weight:bold; color:#999999; text-align:center; line-height:25px">FOR ANY QUERIES</span> <br />
          
          <span style="font-size:13px; font-weight:bold; color:#FFFFFF; text-align:center">E-mail: <a href="mailto:info@healthkart.com" style="color:#FFFFFF">info@healthkart.com</a>  |  Tel.: +91 124 4616444</span></p>          </td>
      </tr>
  
  
  <tr>
    <td style="font-size:11px; text-align:center; color:#929292; padding:8px"> If you prefer not to receive HealthKart.com email, click here to Unsubscribe<br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
      © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>
</body>
</html>
