<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Your Fitness Requirements SOLVED, with our latest range
</title>
</head>

<body style="margin:0; padding:0; font-family:Arial, Helvetica, sans-serif; background-color:#f5f5f5; background-image:url(http://img.healthkart.com/email/fitness02_may/images/bg.jpg)">
<table width="100%" border="0" cellspacing="0" cellpadding="0" >

  <tr>
    <td style="font-size:11px; text-align:center; color:#000000; padding:15px">Can't view this email? <a href="http://img.healthkart.com/email/fitness02_may/emailer.html">Click here</a> to view a web version.</td>
  </tr>
  <tr>
    <td align="center"><table width="680" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="15" align="center" bgcolor="#e1eff7"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#e1eff7"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/header.png" alt="Logo" width="650" height="121" border="0" /></a></td>
      </tr>
      <tr>
        <td height="15" align="center" bgcolor="#e1eff7"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#e1eff7"><table width="680" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15"></td>
            <td width="428"><a href="http://www.healthkart.com/sports/fitness-equipment?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/banner01.jpg" alt="Walk the path of f   itness" width="428" height="200" border="0" /></a></td>
            <td width="17"></td>
            <td width="205"><a href="http://www.healthkart.com/sports/footwear/jogging-shoes"><img src="http://img.healthkart.com/email/fitness02_may/images/img01.jpg" alt="International Shoe Brands" width="205" height="201" border="0" /></a></td>
            <td width="15"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#e1eff7" height="15"></td>
      </tr>
      <tr>
        <td align="center" height="15"></td>
      </tr>
      <tr>
        <td height="15" align="center" bgcolor="#f4fbff"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff"><table width="680" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15"></td>
            <td><a href="http://www.healthkart.com/sports/fitness-accessories/abs-core?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/banner02.jpg" alt="Coveted waist line guranteed!!!" width="650" height="200" border="0" /></a></td>
            <td width="15"></td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td height="15" align="center" bgcolor="#f4fbff"></td>
      </tr>
      <tr>
        <td align="center"  bgcolor="#f4fbff"><table width="680" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/product/home-ab-oblique-trainer-kit/SPT814?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img01_a.jpg" alt="Home Ab/Oblique Trainer Kit" width="205" height="200" border="0" /></a></td>
            <td width="17">&nbsp;</td>
            <td width="25"><a href="http://www.healthkart.com/product/adidas-home-ab-cardio-kit/SPT375?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img01_b.jpg" alt="Adidas Home Ab/Cardio Kit " width="205" height="200" border="0" /></a></td>
            <td width="18">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/product/mobile-home-gym/SPT708?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img01_c.jpg" alt="Mobile Home Gym " width="205" height="200" border="0" /></a></td>
            <td width="15">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff" height="15"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff"><table width="680" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/product/advanced-home-aerobics-kit/SPT815?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img02_a.jpg" alt="Advanced Home Aerobics Kit " width="205" height="200" border="0" /></a></td>
            <td width="17">&nbsp;</td>
            <td width="25"><a href="http://www.healthkart.com/product/tunturi-pilates-kit/SPT003?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img02_b.jpg" alt="Tunturi Pilates Kit" width="205" height="200" border="0" /></a></td>
            <td width="18">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/product/tunturi-yoga-starter-kit/SPT756?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img02_c.jpg" alt="Tunturi Yoga Starter Kit " width="205" height="200" border="0" /></a></td>
            <td width="15">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff" height="15"></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff"><table width="680" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="15">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/product/tunturi-resistance-band-kit/SPT757?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img03_a.jpg" alt="Tunturi Resistance Band Kit" width="205" height="200" border="0" /></a></td>
            <td width="17">&nbsp;</td>
            <td width="25"><a href="http://www.healthkart.com/product/adidas-core-training-mat/SPT058?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img03_b.jpg" alt="Adidas Core Training Mat " width="205" height="200" border="0" /></a></td>
            <td width="18">&nbsp;</td>
            <td width="205"><a href="http://www.healthkart.com/sports/fitness-accessories/abs-core?brand=Beurer?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/img03_c.jpg" alt="Beurer Stomach Muscle Belt" width="205" height="200" border="0" /></a></td>
            <td width="15">&nbsp;</td>
          </tr>
        </table></td>
      </tr>
      <tr>
        <td align="center" bgcolor="#f4fbff" height="15"></td>
      </tr>
      <tr>
        <td align="center" height="15"></td>
      </tr>
      
      
    </table></td>
  </tr>
  <tr>
    <td align="center" bgcolor="#f2f7fa" style="border-top:solid 4px #97b8ca"><table width="680" border="0" align="center" cellpadding="0" cellspacing="0">
      <tr>
        <td height="70" colspan="3" align="left" valign="middle"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may"><img src="http://img.healthkart.com/email/fitness02_may/images/hk_logo_bw.jpg" alt="HealthKart.com logo" width="178" height="28" border="0" /></a></td>
        <td width="478" align="right" valign="middle" style="color:#606060; font-weight:bold; font-size:13px;"><a href="http://www.healthkart.com?utm_source=enewsletter&utm_medium=email&utm_campaign=2012-05-29-fitness02_may" style="color:#606060; text-decoration:none;">www.healthkart.com</a></td>
      </tr>
      <tr>
        <td width="107" height="60" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">Spread the word:</td>
        <td width="41" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://www.facebook.com/healthkart"><img src="http://img.healthkart.com/email/fitness02_may/images/facebook.png" alt="facebook" width="32" height="32" border="0" /></a></td>
        <td width="74" align="left" valign="middle" style="border-top: solid #929292 1px"><a href="http://twitter.com/healthkart"><img src="http://img.healthkart.com/email/fitness02_may/images/twitter.png" alt="twitter" width="32" height="32" border="0" /></a></td>
        <td align="right" valign="middle" style="border-top: solid #929292 1px; color:#606060; font-size:13px;">e: <a href="mailto:info@healthkart.com" style="color:#606060">info@healthkart.com</a> &nbsp;| &nbsp;t: +91 124 4616444</td>
      </tr>
    </table></td>
  </tr>
  <tr>
     <td align="center" valign="middle" style="border-top: solid #97b8ca 1px; font-size:11px; text-align:center; color:#666666; padding:10px"> If you prefer not to receive HealthKart.com email, <a href="${unsubscribeLink}">click here to Unsubscribe</a><br />

      Parsvanath Arcadia, 1 MG Road, Sector 14, Gurgaon, Haryana, INDIA<br />
    © 2011 HealthKart.com. All Rights Reserved. </td>
  </tr>
</table>

</body>
</html>
